// Implements a mechanism where we have icon on the left and box on the right
<{element}div{/} id="{$_name}" class="atk-box atk-media-block {$class}" style="{$style}" {$attributes}>
.atk-media
  {icon}
  span.icon-cog.atk-size-mega.atk-swatch-blue.atk-shape-circle
  {/}
.atk-content.atk-jackscrew
  {$Content}
</{element}div{/}>
