style.
  .my-console {
    background: black;
    color: white;
    min-height: 10em;
    max-height: 30em;
    overflow-y: scroll;
    overflow-x: hidden

  }
  .my-console::-webkit-scrollbar {
    display: none
  }
  
  .my-console::selection {
    background: white;
    color: blue;
  }

div(class="{$class}" id="{$_name}")
    pre(style="{$style}" class="{pre-style}my-console atk-box-small{/}" id="{$_name}_console")
