.row
    .col.span_6
        p
            | Web development is more fun and is more productive when you're using the best
            | tools for the job. For Agile Toolkit 4.3+ we recommend you to install the
            | "Development Sandbox" to work even more efficiently.

        h4 What benefits does it offer?
        p
          ul
            li Stay up-to-date with a single click of button. No need to go into command-line.
            li Deploy your project into cloud with "Deploy" without any server configuration.
            li Access documentation, debugging and other tools of any widget on your page.
            li Easily locate templates, PHP sources and configuration for elements.
            li Browse through your Object Tree and inspect your project in real-time
        h4 Extras and extensions
        p
          ul
            li Browse Agile Toolkit market and install add-on with with a mouse click.
            li "Test Suite" extension will help you design test-cases for your Agile project.
            li "Code Quality" extension will measure quality of your code, test-coverage.
            li "Database Migrator" lets you design, test and apply SQL database migrations.
            li "Theme Builder" is a UI to tweak the look and feel of your front-end or admin

        p
            | "Development Sandbox" is a free extension to Agile Toolkit.

        | {$Content}
    .col.span_6
        img(src="{public}images/developer-tools.png{/}")
