<ul id="<?$_name?>" class="<?html_class?>sidebar<?/?>" <?$html_attributes?>>
	<li class="ui-widget-header ui-corner-top"><span><?title?>Sidebar<?/?></span></li>
	<?rows?>
	<?row?>
	<li class="sidebar-row <?current?>ui-state-active<?/?>" id="<?$_name?>_<?$id?>"><a href="<?href?>forms.html<?/?>"><?title?>Forms<?/?></a></li>
	<?/row?>
	<li class="sidebar-row"><a href="grids.html">Grids</a></li>
	<li class="sidebar-row"><a href="layouts.html">Layouts</a></li>
	<li class="sidebar-row"><a href="typography.html">Typography</a></li>
	<li class="sidebar-row"><a href="icons.html">Icons</a></li>
	<?/rows?>
</ul>
