<div class="files-container">
    <div class="template" style="display:none;">
        File: <span data-template="original_filename">File</span><br/>
        <i class="atk-icon atk-icons-red atk-icon-basic-ex"></i><a class="delete_doc" href="#">Delete</a><span class="atk-sep">|</span><i class="atk-icon atk-icons-red atk-icon-basic-search"></i><a class="view_doc" href="#">View</a>
		<span class="atk-sep">|</span><i class="atk-icon atk-icons-red atk-icon-office-attach"></i><a class="save_doc" href="#">Save</a>
    </div>
</div>
