
<div class="atk-box">
  <div class="atk-push atk-align-center"><a href="javascript:void(0)" class="atk-text-reset"><img src="{public}images/logo-gray.svg{/}" title="Agile Toolkit" width="96"/></a></div>{$Content}
  <!-- .atk-form.atk-form-stacked.atk-form-compact
  <form>
    <div class="atk-form-fieldset atk-push-small">
      <div class="atk-cells">
        <div class="atk-cell"></div>
        <div class="atk-cell">
          <input type="text" placeholder="E-mail"/>
        </div>
      </div>
      <div class="atk-cells">
        <div class="atk-cell"></div>
        <div class="atk-cell"><span class="atk-input-icon">
            <input type="password" placeholder="Password"/><a href="javascript:void(0)" class="icon-help-circled-1"></a></span></div>
      </div>
    </div>
    <div class="atk-cells atk-cells-gutter">
      <div class="atk-cell">
        <div class="atk-input-radio"><span class="atk-text-dimmed">
            <input id="remember" type="checkbox"/>
            <label for="remember">Remember me</label></span></div>
      </div>
      <div class="atk-cell atk-align-right">
        <button class="atk-button atk-jackscrew atk-swatch-green">Sign In</button>
      </div>
    </div>
  </form>
  -->
  <!-- hr-->
  <!-- .atk-push-small<a href="#" class="atk-button atk-jackscrew atk-align-center atk-swatch-facebook"><span class="icon-facebook"></span>Sign in with Facebook</a>
  -->
  <!-- a.atk-button.atk-jackscrew.atk-align-center.atk-swatch-twitter(href='#')<span class="icon-twitter"></span>Sign in with Twitter
  -->
</div>