.atk-form(style="{$style}" class="{$class}" id="{$_name}")
    <form action="{$form_action}" method="{form_method}post{/}" name="{$_name}" {$enctype} {$attributes}>

    {Layout}

    {Content}
    {form_line}
    .atk-push-xsmall.atk-form-row(class="atk-form-row-{$field_type} {$row_class}")

        {$above_field}{$cells_start}{$before_field}{$input_cell_start}{$before_input}{$field_input}{$icon}{$after_input}{$input_cell_stop}{$after_field}{$cells_stop}{$below_field}

        {$field_hint}
        {field_error}
        p.atk-form-error
            span.atk-size-micro atk-effect-danger {$field_error_str}
        {/}
    {/}

    {/Content}
    p.field-error-template.atk-form-error
        span.field-error-text {$field_error_str}


    {button_row}
    .atk-actions(class="{$buttons_class}")
        {$form_buttons}
    {/}

    {/Layout}
    </form>
