<span id="{$_name}" style="{$style}" class="{$class} span_3"><form name="{$form_name}" action="{$form_action}" method="POST"><div class="atk-cells atk-input-combo">{$cancel_button}<div class="atk-cell atk-jackscrew">{Content}
{form_line}
{$before_field}
{field_input}<input type="text" name="loginemail" value="" placeholder="{field_caption}Search...{/}" class="logintext"/>{/}
{$after_field}
{field_error}<span class="form_error">{field_error_str}Error{/}</span>{/}
{/form_line}
{form_separator}
{separator} Personal information{/}
{/form_separator}
{/Content}</div><div class="atk-cell">{$form_buttons}</div></div></form></span>