<span id="{$_name}" style="{$style}" class="{$class}"><form name="{$form_name}" action="{$form_action}" method="POST">{$Hint}
{Content}
{form_line}
{$before_field}
{field_input}<input type="text" name="loginemail" value="" placeholder="{field_caption}Search...{/}" class="logintext"/>{/}
{$after_field}
{field_error}<span class="form_error">{field_error_str}Error{/}</span>{/}
{/form_line}
{form_separator}
{separator} Personal information{/}
{/form_separator}
{/Content}
{form_buttons}<a href="javascript:void(0)" class="icon-search atk-swatch-ink"></a>{/form_buttons}</form></span>