
<div style="{$style}" id="{$_name}" class="atk-form {$class}">
  <form class="{$form_class}" action="{$form_action}" method="{form_method}post{/}" {$enctype} {$attributes}>
  {Layout}
  <div class="{$fieldset_class}">
    {Content}
    {form_line}
    <div class="atk-form-row atk-form-row-{$field_type} {$row_class}">{label_div}
      <div class="atk-push-xsmall atk-form-label atk-text-nowrap"><label for="{$field_name}" {field_mandatory}class="mandatory"{/}><span>{$field_caption}</span>{$after_label}
        </label>
      </div>{/label_div}
      <div class="atk-form-field atk-push-small {$field_class}">{$above_field}{$cells_start}{$before_field}{$input_cell_start}{$before_input}{$field_input}{$icon}{$after_input}{$input_cell_stop}{$after_field}{$cells_stop}{$below_field}</div>{$field_hint}
      {field_error}
      <p class="atk-form-error"><span class="atk-size-micro">atk-effect-danger {$field_error_str}</span></p>{/field_error}
    </div>{/form_line}
    {form_separator}</div><div class="{$fieldset_class} atk-cells-group atk-cells-gutter-large">{/}
    {/Content}
    <p class="field-error-template atk-form-error"><span class="field-error-text">{$field_error_str}</span></p>{button_row}
    <div class="atk-actions {$buttons_class}">{$form_buttons}</div>{/}
  </div>{/Layout}
  </form>
</div>