body {
    background: rgb(222,239,244);
}
* {
    font-family: sans-serif:
}

a {
    text-decoration: none;
    color: blue;
}

form {
    margin: 0px;
}

img {
 margin: 0px;
 border: 0px;
}

.Title_color {
    background: #eee;
}

.Title {
    background: #eee;
    padding-top: 1px;
    overflow: hidden;
    font-family: "Trebuchet MS";
    text-align: center;
    padding-bottom: 1px;
}

.Form_Outer {
margin: 0px;
}

.Form_Inner {
    border-top: 1px rgb(147,147,147) solid;
    margin: 11px; 
    margin-top: 30px;
    padding-top: 5px;
}

.Frame1 {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 5px;
}

.Lister th {
    border-bottom: 1px dashed rgb(147,147,147);
    font-family: "trebuchet ms";
}
.Lister tr {
    text-align: center;
    font-family: verdana;
    font-size: 12px;
}
.Lister tr:hover {
    text-align: center;
    font-family: verdana;
    font-size: 12px;
    background: rgb(221,221,221);
}
.Lister tr.totals td {
    border-top: 1px solid black;
    font-weight: bold;
}
.Lister tr {
    text-align: center;
    font-family: verdana;
    font-size: 12px;
}
.Paginator {
    text-align: center;
    font-family: verdana;
    font-size: 10px;
}

.HelpIcon:hover {
    border: 1px solid blue;
}

/*
.form_fr1 { background:url(images/hc1.gif); width: 11px; }
.form_fr3 { background:url(images/hc2.gif); }
.form_fr7 { background:url(images/wt3.gif); }
.form_fr9 { background:url(images/wt4.gif); }

.form_fr2 { background-image: url(images/hu.gif); }
.form_fr8 { background:url(images/shdd.gif);}
.form_fr4 { background:url(images/ll.gif); width: 5px; }
.form_fr6 { background:url(images/lr.gif);  }

*/
.row td {
    padding-bottom: 3px;
}
.buttonrow .right {
    padding-top: 10px;
    text-align: right;
}

.buttonrow .left {
    padding-top: 10px;
    text-align: left;
}

.label {
    padding-right: 5px;
    text-align: right;
}
.Field {
    padding-left: 5px;
    text-align: left;
}

.Field * {
    width: 340px;
}

.menuitem {
    padding-left: 5px;
    padding-right: 5px;
    width: 100px;
    text-align:center;
    border-right: 1px dashed black;
}
.menuitem * {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    border: 1px solid white;
    display: block;
}
.menuitem:hover * {
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid rgb(130,130,130);
    background: rgb(221,221,221);
    display: block;
}
.menuitem#active * {
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid rgb(130,130,130);
    background: rgb(221,221,221);
    display: block;
}
