# Auto detect text files and perform LF normalization
* text=auto

# Pure text files
*.php text diff=php
*.html text diff=html
*.js text diff=html
*.txt text
*.md text

# Binary files
*.jpg binary
*.png binary
*.gif binary
*.crt binary
*.pdf binary
