             <?form?>
			<form id="<?$form_name?>" name="<?$form_name?>" action="<?$form_action?>" onsubmit="<?form_onsubmit?>spinner_on('<?$form_name?>_loading')<?/?>" method="POST" <?$enctype?>>
                        <?form_body?>
                        <?form_line?>
							<?$field_caption?><?field_input?><input type="text" name="loginemail" class="logintext" value=""><?/?>
                          <?/form_line?>
                          <?/form_body?>
                        <?form_buttons?>
                            <input type="submit" name="Submit2" value="Login" class="yellowbutton">                          
                        <?/form_buttons?>
                        </form>
                        <?/form?>
