             <?form?>
			<form id="<?$form_name?>" name="<?$form_name?>" action="<?$form_action?>" onsubmit="<?form_onsubmit?><?/?>" method="POST" <?$enctype?>>
                        <?form_body?>
                        <?form_line?>
							<?$field_caption?>&nbsp;<?field_input?><input type="text" name="loginemail" class="logintext" value=""><?/?>
                          <?/form_line?>
			  <?form_comment?><?$comment?><?/form_comment?>
			  <?hidden_form_line?>
                              <?hidden_field_input?> <?/?>
              <?/hidden_form_line?>
                          <?/form_body?>
			<span id="<?$form_name?>_buttons">
                        <?form_buttons?>
                            <input type="submit" name="Submit2" value="Login" class="yellowbutton">
                        <?/form_buttons?>
			</span>
                        </form>
                        <?/form?>
