<?form?>
 <form id="<?$form_name?>" name="<?$form_name?>" action="<?$form_action?>" onsubmit="<?form_onsubmit?>spinner_on('<?$form_name?>_loading')<?/?>" method="POST" <?$enctype?>>
  <table width="100%"  border="0" cellspacing="1" cellpadding="2">
   <?form_body?>
    <tr>
     <td>Line input field:</td>
     <td>
      <?field_line?><input type="text" name="<?$form_name?>_line" id="<?$form_name?>_line?>" class="logintext" value="Sample line input"><?/?>
     </td>
    </tr><tr>
     <td>Dropdown field:</td>
     <td>
      <?field_dropdown?><select name="<?$form_name?>_dropdown" id="<?$form_name?>_dropdown" onchange=""><option value="com">com</option><option value="co.uk">co.uk</option><option value="ie">ie</option></select><?/?>
     </td>
    </tr><tr>
     <td>Textarea:</td>
     <td>
      <?field_text?><textarea name="<?$form_name?>_text" id="<?$form_name?>text" value="Sample text input" onchange="" onKeyDown="" onfocus="" onblur="" onclick="" cols="30" rows="5"></textarea><?/?>
     </td>
    </tr>
    <tr><td colspan="2" align="left" nowrap style="padding-left: 70px">~ <u>Separator</u> ~</td></tr>
    <tr><td colspan="2" align="center" nowrap style="padding-left: 30px; padding-right: 30px">You can put comments as you wish</td></tr>
   <?/form_body?>
    <tr>
    <tr><td colspan=2 style="border-bottom: 1px solid black"></td></tr>
    <tr><td colspan=2>
     <table width=100% cellspacing=0 cellpadding=0 border=0>
      <tr>
       <td class="left"  width="100%">&nbsp;
        <img id="<?$form_name?>_loading" src="amodules3/img/not_loading.gif" border=0>
        <!-- chk_preload -->
        <div style="display:none;"><img src="amodules3/img/loading.gif" /></div>
        <!-- -------------->
       </td>
       <td align=center style="text-align: center;"><b id="msg_<?$form_id?>"></b></td>
       <td id="<?$form_name?>_buttons" name="<?$form_name?>_buttons" align="right" nowrap>
        <?form_buttons?>
         <input type="submit" name="Submit2" value="Login" class="yellowbutton">                          
        <?/form_buttons?>
       </td>
      </tr>
     </table>
    </td></tr>
  </table>
 </form>
 <script><?$form_onload?></script>
<?/form?>
