<?grid?>
<?$Misc?>
<div style="text-align: center;" id="<?$_name?>"> <!-- IE support -->
<div style="<?container_style?>margin: 0 auto;<?/?>">
<table align="center" border="0" width="100%" class="grid_menu">
 <tr>
  <td width=33% align=left valign=bottom nowrap><?grid_buttons?><?/?></td>
  <td width=34% align=center valign=bottom nowrap><?paginator?><?/?></td>
  <td width=33% align=right valign=bottom nowrap><?quick_search?><?/?></td>
 </tr>
</table>
<table align="center" style="text-align: left; margin-left: auto; margin-right: auto;" class="lister" border="0" cellpadding="0" cellspacing="0" width="100%">
 <tbody>
  <?full_table?><?header?><tr class="header">
   <?cols?>
    <?col?>
     <td nowrap <?$tdparam?>><?descr?>First Name<?/descr?><?sort?><a href="javascript:void(0);" onclick="<?$sortlink?>"><img border="0" align="absmiddle" src="amodules3/img/sort<?$order?>.gif"/></a><?/sort?></td>
    <?/col?>
     <td>Surname</td>
     <td>Passport ID</td>
     <td>Picture</td>
   <?/cols?>
  </tr><?/header?><?/full_table?>
  <?rows?>
   <?row?>
    <tr id="<?$_name?>_<?$row_id?>" class="<?$odd_even?>">
    <?cols?>
     <?col?>
      <td <?$tdparam?>><?$content?></td>
     <?/col?>
    <?/cols?>
    </tr>
   <?/row?>
   <?totals?>
    <tr class="totals">
    <?cols?>
     <?col?>
      <td <?$tdparam?>><?$content?></td>
     <?/col?>
      <td>test</td>
      <td>test</td>
      <td>test</td>
      <td>test</td>
    <?/cols?>
    </tr>
   <?/totals?>
  <?/rows?>
  <tr><td style="border: 0px; padding: 0px"><!-- for safari fix --></td></tr>
 </tbody>
</table>
<?not_found?><center><font color="red" size="xx-large"><strong>No Records Found</strong></font></center><?/not_found?>
<table align="center" border="0" width="100%" class="grid_menu">
 <tr>
  <td width="33%" align="left" valign="bottom" nowrap><?grid_buttons?><?/?></td>
  <td width="34%" align="center" valign="bottom" nowrap><?paginator?><?/?></td>
  <td width="33%" align="right" valign="bottom" nowrap></td>
 </tr>
</table>
</div>
</div>
<?hidden_forms?><?/hidden_forms?>
<?/grid?>
