      <table align=center border=0 width=90% class="grid_menu">
	   <tr>
        <td width=33% align=left valign=bottom nowrap><?grid_buttons?><?/?></td>
        <td width=34% align=center valign=bottom nowrap><?paginator?><?/?></td>
        <td width=33% align=right valign=bottom nowrap><?quick_search?><?/?></td>
       </tr>
      </table>

      <table style="text-align: left; margin-left: auto; margin-right: auto;" class="lister" border="0" cellpadding="0" cellspacing="0" width="90%">
        <tbody>
        <?header?>
          <tr class="header">
         <?cols?>
         <?col?>
            <td nowrap><?descr?>First Name<?/descr?><?sort?><a href="<?$sortlink?>"><img border=0 align="absmiddle" src="amodules3/img/sort<?$order?>.gif"/></a><?/sort?></td>
         <?/col?>
            <td>Surname</td>
            <td>Passport ID</td>
            <td>Picture</td>
         <?/cols?>
          </tr>
        <?/header?>

 <?rows?>
 <?row?>
   <tr id="<?$grid_name?>_<?$row_id?>" class="<?$odd_even?>">
    <?cols?>
    <?col?>
     <td <?$tdparam?>>
      <?$content?>
     </td>
     <?/col?>
    <?/cols?>
   </tr>
 <?/row?>


<?totals?>
<tr class="totals">
 <?cols?>
 <?col?>
 <td><?$content?></td>
 <?/col?>
 <td>test</td>
 <td>test</td>
 <td>test</td>
 <td>test</td>
 </tr>
 <?/cols?>
<?/totals?>

<?/rows?>

</tbody>
</table>
      <table align=center border=0 width=90% class="grid_menu">
	   <tr>
        <td width=33% align=left valign=bottom nowrap><?grid_buttons?><?/?></td>
        <td width=34% align=center valign=bottom nowrap><?paginator?><?/?></td>
        <td width=33% align=right valign=bottom nowrap><?quick_search?><?/?></td>
       </tr>
      </table>

