/* generic styles */
a { text-decoration: none;
color:#38A2E1;
}
body, td { font-family: helvetica, arial,sans-serif;
font-size: 9pt;
}
p { margin-top: 0px;
margin-bottom: 0.5em;
}

.hidden{display:none}

 /* menu */
.menu { 
font-family: helvetica, arial,sans-serif;
border-color: #777777;
border-width: 2px 1px;
border-top: 2px solid rgb(142, 142, 142);
border-bottom: 2px solid #00CC00;
font-size: 10pt;
background-color: #EEEEEE;
margin-bottom: 4px;
}
.menu tbody tr td.separator { border-right: 1px dotted rgb(142, 142, 142);
padding-left: 5px;
padding-right: 5px;
}
.menu tbody tr td.about { font-size: 8pt;
text-align: right;
}

.menu tbody tr td.current { background: white;
    border-left: 1px solid black;
    border-top: 1px solid black;
border-right: 1px dotted rgb(142, 142, 142);
padding-left: 5px;
padding-right: 5px;
}

 /* locator */
.locator { padding-top: 0.5em;
font-weight: bold;
font-family: Arial,Helvetica,sans-serif;
font-size: 9pt;
padding-bottom: 0.5em;
}
.msgbox { border-style: none solid solid;
border-color: -moz-use-text-color rgb(142, 142, 142) rgb(142, 142, 142);
border-width: 0px 1px 1px;
background-color: rgb(228, 228, 228);
margin-bottom: 1em;
}
.msgbox tbody tr td.header { background-repeat: repeat-x;
background-image: url(tabledescrowbg.gif);
height: 22px;
}
.msgbox tbody tr td { padding-left: 5px;
padding-right: 5px;
}
.layout { }
.layout tbody tr td.content { padding-left: 1em;
padding-right: 1em;
text-align: justify;
}
.lister { 
border-style: solid none none solid;
border-width: 1px;
border-color: rgb(210, 210, 210);
}
.lister tbody  tr.header td { 
border-style: none solid solid none;
border-width: 1px;
border-color: rgb(210, 210, 210);
/*border-bottom: 1px solid rgb(142, 142, 142);
border-top: 1px solid rgb(142, 142, 142);
border-right: 1px solid rgb(180, 180, 180);
border-left: 1px solid rgb(180, 180, 180);*/
background-image: url(tabledescbg.gif);
background-repeat: repeat-x;
background-color:#C8DCFA;
padding-left: 3px;
padding-right: 3px;
height: 20px;
}

.lister tbody tr td { 
border-style: none;
border-width: 1px;
border-color: rgb(210, 210, 210);
padding-left: 3px;
padding-right: 3px;
}

.lister tbody tr.odd td { 
border-style: none solid solid none;
border-width: 1px;
border-color: rgb(210, 210, 210);
background: rgb(225, 225, 225) none repeat scroll 0% 50%;
}

.lister tbody tr.even td { 
border-style: none solid solid none;
border-width: 1px;
border-color: rgb(210, 210, 210);
background: rgb(255, 255, 255) none repeat scroll 0% 50%;
}


.lister tbody tr td.not_expanded {
    border-style: none solid solid none;
    border-width: 1px;
    border-color: rgb(210, 210, 210);
    padding-left: 3px;
    padding-right: 3px;
}
.lister tbody tr td.expanded_this {
    border-style: none solid solid none;
    border-width: 1px;
    border-color: rgb(210, 210, 210);
    background: white;
    border-bottom: 0px;

    padding-left: 3px;
    padding-right: 3px;
}
.lister tbody tr td.expanded_other {
    border-style: none solid solid none;
    border-width: 1px;
    border-color: rgb(210, 210, 210);
    padding-left: 3px;
    padding-right: 3px;
}

.lister tbody tr.total td { 
border-top: 1px solid rgb(142, 142, 142);
font-family: Arial,Helvetica,sans-serif;
font-size: 9pt;
font-weight: bold;
}
.TreeUL {
	list-style-type: none;
}
.TreeUL li {
	list-style-type: none;
}
.tipbox {
	border:1px solid #A7A772;padding:5px;background-color:#FFFFD9;
}
