      <table style="text-align: left; margin-left: auto; margin-right: auto; margin-bottom: 1em" class="lister" border="0" cellpadding="0" cellspacing="0" width="40%">
        <tbody>
        <?header?>
          <tr class="header">
         <?cols?>
         <?col?>
            <td><?descr?>First Name<?/descr?><?sort?><a href="<?$sortlink?>"><img border=0 align="absmiddle" src="amodules3/img/sort<?$order?>.gif"/></a><?/sort?></td>
         <?/col?>
            <td>Surname</td>
            <td>Passport ID</td>
            <td>Picture</td>
         <?/cols?>
          </tr>
        <?/header?>

 <?rows?>
 <?row?>
   <tr id="<?$grid_name?>_<?$row_id?>" class="<?$odd_even?>">
    <?cols?>
    <?col?>
     <td <?$tdparam?>>
      <?$content?>
     </td>
     <?/col?>
    <?/cols?>
   </tr>
 <?/row?>
<?/rows?>
</tbody>
</table>
<center><?$paginator?></center>
