<?Menu?>
<table class="menu" border="0" cellpadding="0" cellspacing="1" width="100%">
  <tbody>
    <tr>
      <?Item?><?/Item?>

      <td style="text-align: right;" width="100%"></td>

      <td class="about" nowrap="nowrap" valign="bottom"><a target="_blank" href="<?url?>http://adevel.com/amodules3/<?/url?>"><?name?>AModules3<?/name?></a><br>
<?version?>v0.1<?/version?>
    </td>

    </tr>

  </tbody>
</table>
<?/Menu?>

<?MenuItem?><td class="<?class?>separator<?/?>" nowrap="nowrap"><a href="<?$href?>"><?label?>About<?/label?></a></td><?/MenuItem?>

<?MenuSeparator?><td class="separator" nowrap="nowrap" width="4">&nbsp;</td><?/MenuSeparator?>