  /* generic styles */
* {
    padding-top: 1px;
}

h1{
font-size: 18pt;
font-weight: bold;
margin: 10px 0 5px 0;
}

h2{
font-size: 14pt;
font-weight: bold;
margin: 10px 0 5px 0;
}

h3{
font-size: 12pt;
font-weight: bold;
margin: 10px 0 5px 0;
}

a { text-decoration: none;
color:#38A2E1;
}
body, td { font-family: helvetica, arial,sans-serif;
font-size: 9pt;
}
form {
margin: 0px;
}
p { margin-top: 2px;
margin-bottom: 0.5em;
}

.hidden{display:none}

 /* menu */
.menu { 
border-color: black;
border-width: 2px 1px;
border-top: 2px solid rgb(142, 142, 142);
border-bottom: 2px solid #00CC00;
font-size: 10pt;
background-color: #EEEEEE;
margin-bottom: 4px;
}
.menu>tbody>tr>td.separator { border-right: 1px dotted rgb(142, 142, 142);
padding-left: 5px;
padding-right: 5px;
}
.menu>tbody>tr>td.about { font-size: 8pt;
text-align: right;
}

.menu>tbody>tr>td.current { background: white;
    border-left: 1px solid black;
    border-top: 1px solid black;
border-right: 1px dotted rgb(142, 142, 142);
padding-left: 5px;
padding-right: 5px;
}



 /* submenu */
.submenu { border-color: #777777;
border-width: 2px 1px;
border-bottom: 2px solid #00CC00;
font-size: 10pt;
background-color: #EEEEEE;
margin-bottom: 4px;
}
.submenu>tbody>tr>td.separator { border-right: 1px dotted rgb(142, 142, 142);
padding-left: 5px;
padding-right: 5px;
}
.submenu>tbody>tr>td.about { font-size: 8pt;
text-align: right;
}

.submenu>tbody>tr>td.current { background: white;
    border-left: 1px solid black;
    border-top: 1px solid black;
border-right: 1px dotted rgb(142, 142, 142);
padding-left: 5px;
padding-right: 5px;
}



 /* locator */
.locator { padding-top: 0.5em;
font-weight: bold;
font-family: Arial,Helvetica,sans-serif;
font-size: 9pt;
padding-bottom: 0.5em;
}
.msgbox { border-style: none solid solid;
border-color: -moz-use-text-color rgb(142, 142, 142) rgb(142, 142, 142);
border-width: 0px 1px 1px;
background-color: rgb(228, 228, 228);
margin-bottom: 1em;
}
.msgbox>tbody>tr>td.header { background-repeat: repeat-x;
background-image: url(tabledescrowbg.gif);
height: 22px;
}
.msgbox>tbody>tr>td { padding-left: 5px;
padding-right: 5px;
text-align: justify;
}
.layout { }
.layout>tbody>tr>td.content { padding-left: 1em;
padding-right: 1em;
text-align: justify;
}
.lister { border-bottom: 1px solid rgb(142, 142, 142);
}
.lister>tbody > tr.header > td { 
border-bottom: 1px solid rgb(142, 142, 142);
border-top: 1px solid rgb(142, 142, 142);
border-right: 1px solid rgb(180, 180, 180);
border-left: 1px solid rgb(180, 180, 180);
background-image: url(tabledescbg.gif);
background-repeat: repeat-x;
background-color:#C8DCFA;
padding-left: 3px;
padding-right: 3px;
height: 20px;
}
.lister>tbody > tr.header:hover > td { 
border-bottom: 1px solid rgb(142, 142, 142);
border-top: 1px solid rgb(142, 142, 142);
border-right: 1px solid rgb(180, 180, 180);
border-left: 1px solid rgb(180, 180, 180);
background-image: url(tabledescbg.gif);
background-repeat: repeat-x;
padding-left: 3px;
padding-right: 3px;
height: 20px;
}
.lister>tbody > tr.totals > td { 
    /* TODO: make me look better! */
border-top: 2px solid black;
border-bottom: 0px;
}
.lister>tbody > tr.totals:hover > td { 
border-top: 2px solid black;
border-bottom: 0px;
}
.lister>tbody > tr > td { 
border-right: 1px solid rgb(200, 200, 200);
border-left: 1px solid rgb(200, 200, 200);
padding-left: 3px;
padding-right: 3px;
padding-top: 1px;
}
.lister>tbody>tr.odd>td { 
border-bottom: 1px solid rgb(210, 210, 210);
background: rgb(225, 225, 225) none repeat scroll 0% 50%;
}
.lister>tbody>tr.even>td {
border-bottom: 1px solid rgb(210, 210, 210);
background: rgb(255, 255, 255) none repeat scroll 0% 50%;
}
.lister>tbody>tr:hover>td { 
background: rgb(255, 240, 170) none repeat scroll 0% 50%;
}

.lister>tbody>tr>td.not_expanded {
    border-right: 1px solid rgb(200, 200, 200);
    border-left: 1px solid rgb(200, 200, 200);
    padding-left: 3px;
    padding-right: 3px;
}
.lister>tbody>tr>td.expanded_this {
    border: 1px solid black;
    background: white;
    border-bottom: 0px;

    padding-left: 3px;
    padding-right: 3px;
}
.lister>tbody>tr>td.expanded_other {
    border-bottom: 1px solid black;
    border-right: 1px solid rgb(200, 200, 200);
    border-left: 1px solid rgb(200, 200, 200);
    padding-left: 3px;
    padding-right: 3px;
}

.lister>tbody>tr.total>td { 
border-top: 1px solid rgb(142, 142, 142);
font-family: Arial,Helvetica,sans-serif;
font-size: 9pt;
font-weight: bold;
}
.tv_button {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	width: 14px;
	height: 16px;
	font-size: xx-small;
	background-color: #FFFFFF;
}
.TreeUL {
	list-style-type: none;
}
.TreeUL li {
	list-style-type: none;
}
