
<table class="submenu" border="0" cellpadding="0" cellspacing="1">

  <tbody>

    <tr>

    <?rows?>
     <?row?>
      <td class="<?tdclass?>separator<?/?>" nowrap="nowrap"><?href?><a href="#"><?/href?><?label?>About<?/label?><?chref?></a><?/chref?></td>
     <?/row?>
      <td class="current" nowrap="nowrap"><a href="#">Main page</a></td>

      <td class="separator" nowrap="nowrap"><a href="#">Preferences</a></td>

      <td class="separator" nowrap="nowrap"><a href="#">About</a></td>
      <?/rows?>

    </tr>

  </tbody>
</table>
