<?TipManager?>
 <?Tip?><?/?>
 <?Content?>
 <?/Content?>
 <?SelfTips?>
1;regular;Welcome to Tip manager;
<p>Tip manager helps you to manage tips for your application. </p>
<p>Example of a tip you are reading now.</p>
<p>Click on the Next and Previous links to see other tips.</p>
;;;
[/row]
2;regular;Did you know?;
<p>You can use database or static source for your tips.</p>
<p>This plugin uses static source and stores tips in its template. Just look at the code to examine.</p>
;;;
[/row]
3;regular;Did you know?;
<p>Seen tips can be stored. </p>
<p>If you don't specify any source for seen tips - they are stored in cookies. If cookies cannot be used - seen tips are gone with the session.</p>
;;;
[/row]
4;regular;Did you know?;
<p>You can hide tips by clicking on the link below.</p>
<p>Depending on the template used for Tip class it can be hidden absolutely or displayed like some link/image.</p>
;;;
[/row]
5;regular;Did you know?;
<p>New tips can be inserted at any position of the sequence. </p>
<p>Such tips will be displayed first to existing users next time they enter the site.</p>
;;;
[/row]
999;regular;Did you know?;
<p>This is last tip.</p>
<p>If you click Next - tips will hide. However, because this plugin does not store seen tips - you will see them from start next time you enter this site.</p>
;;;
 <?/?>
<?/?>
 