/* TipTip CSS - Version 1.2 */

#tiptip_holder {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99999;
}

#tiptip_holder.tip_top {
	padding-bottom: 5px;
}

#tiptip_holder.tip_bottom {
	padding-top: 5px;
}

#tiptip_holder.tip_right {
	padding-left: 5px;
}

#tiptip_holder.tip_left {
	padding-right: 5px;
}

#tiptip_content {
	font-size: 12px;
	color: #fff;
	/* text-shadow: 0 0 2px #000; */
	padding: 4px 8px;
	border: 1px solid rgba(170,130,0,0.25);
	background-color: rgb(230,170,0);
	background-color: rgba(230,170,0,0.92);
	/* background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(transparent), to(#e2a500)); */
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	box-shadow: 0 0 3px #6b4e00;
	-webkit-box-shadow: 0 1px 3px #6b4e00;
	-moz-box-shadow: 0 1px 3px #6b4e00;
}

#tiptip_arrow, #tiptip_arrow_inner {
	position: absolute;
	border-color: transparent;
	border-style: solid;
	border-width: 6px;
	height: 0;
	width: 0;
}

#tiptip_holder.tip_top #tiptip_arrow {
	border-top-color: #fff;
	border-top-color: rgba(170,130,0,0.35);
}

#tiptip_holder.tip_bottom #tiptip_arrow {
	border-bottom-color: #fff;
	border-bottom-color: rgba(170,130,0,0.35);
}

#tiptip_holder.tip_right #tiptip_arrow {
	border-right-color: #fff;
	border-right-color: rgba(170,130,0,0.35);
}

#tiptip_holder.tip_left #tiptip_arrow {
	border-left-color: #fff;
	border-left-color: rgba(170,130,0,0.35);
}

#tiptip_holder.tip_top #tiptip_arrow_inner {
	margin-top: -7px;
	margin-left: -6px;
	border-top-color: rgb(230,170,0);
	border-top-color: rgba(230,170,0,0.92);
}

#tiptip_holder.tip_bottom #tiptip_arrow_inner {
	margin-top: -5px;
	margin-left: -6px;
	border-bottom-color: rgb(230,170,0);
	border-bottom-color: rgba(230,170,0,0.92);
}

#tiptip_holder.tip_right #tiptip_arrow_inner {
	margin-top: -6px;
	margin-left: -5px;
	border-right-color: rgb(230,170,0);
	border-right-color: rgba(230,170,0,0.92);
}

#tiptip_holder.tip_left #tiptip_arrow_inner {
	margin-top: -6px;
	margin-left: -7px;
	border-left-color: rgb(230,170,0);
	border-left-color: rgba(230,170,0,0.92);
}

/* Webkit Hacks  
@media screen and (-webkit-min-device-pixel-ratio:0) {	
	#tiptip_content {
		padding: 4px 8px 5px 8px;
	}
	#tiptip_holder.tip_bottom #tiptip_arrow_inner { 
		border-bottom-color: rgba(255,196,28,0.88);
	}
	#tiptip_holder.tip_top #tiptip_arrow_inner { 
		border-top-color: rgba(170,130,0,0.92);
	}
}*/


/* tiptip error */

#tiptip_holder.red_tiptip #tiptip_content {
	border: 1px solid rgba(150,40,40,0.25);
	background-color: rgb(190,50,50,0);
	background-color: rgba(190,50,50,0.92);
	box-shadow: 0 0 3px #700000;
	-webkit-box-shadow: 0 1px 3px #700000;
	-moz-box-shadow: 0 1px 3px #700000;
}

#tiptip_holder.red_tiptip #tiptip_holder.tip_top #tiptip_arrow {
	border-top-color: #fff;
	border-top-color: rgba(190,50,50,0.35);
}

#tiptip_holder.red_tiptip.tip_bottom #tiptip_arrow {
	border-bottom-color: #fff;
	border-bottom-color: rgba(150,40,40,0.35);
}

#tiptip_holder.red_tiptip.tip_right #tiptip_arrow {
	border-right-color: #fff;
	border-right-color: rgba(150,40,40,0.35);
}

#tiptip_holder.red_tiptip.tip_left #tiptip_arrow {
	border-left-color: #fff;
	border-left-color: rgba(150,40,40,0.35);
}

#tiptip_holder.red_tiptip.tip_top #tiptip_arrow_inner {
	margin-top: -7px;
	margin-left: -6px;
	border-top-color: rgb(190,50,50);
	border-top-color: rgba(190,50,50,0.92);
}

#tiptip_holder.red_tiptip.tip_bottom #tiptip_arrow_inner {
	margin-top: -5px;
	margin-left: -6px;
	border-bottom-color: rgb(190,50,50);
	border-bottom-color: rgba(190,50,50,0.92);
}

#tiptip_holder.red_tiptip.tip_right #tiptip_arrow_inner {
	margin-top: -6px;
	margin-left: -5px;
	border-right-color: rgb(190,50,50);
	border-right-color: rgba(190,50,50,0.92);
}

#tiptip_holder.red_tiptip.tip_left #tiptip_arrow_inner {
	margin-top: -6px;
	margin-left: -7px;
	border-left-color: rgb(190,50,50);
	border-left-color: rgba(190,50,50,0.92);
}

/* Webkit Hacks 
@media screen and (-webkit-min-device-pixel-ratio:0) {	
	#tiptip_holder.red_tiptip.tip_bottom #tiptip_arrow_inner { 
		border-bottom-color: rgba(225,90,90,0.88);
	}
	#tiptip_holder.red_tiptip.tip_top #tiptip_arrow_inner { 
		border-top-color: rgba(150,40,40,0.92);
	}
}
*/

