<div style="float: right"><?Hint?> hint here <?/?></div>
<h1>Welcome to project page</h1>
<p>
 Normally developre shouldn't worry about page look and layout. As far as you are concerned,
 you should maintain the dynamic elements on your page. However at some stage, your designer
 might want to "pretty-up" the page.
</p><p>
 Ask your designer to create a template like this one inside templates/jui/page/ directory,
 and when it's done set your page to use the new template through defaultTemplate()
</p>


<?Content?>
 Ask designer to place tags inside your template, like this one. He might be comfortable if
 he actually have some sample HTML on the page, those should be inside the tags. You will
 replace tags with dynamic content, so you can leave whatever your designer puts as it is.
<?/?>


