<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!-- Agile Toolkit (c) Agile Technologies // http://www.agiletech.ie/ -->

<html xmlns="http://www.w3.org/1999/xhtml">

	<head>
		<title><?page_title?>Agile Toolkit<?/?></title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

		<link rel="shortcut icon" href="<?$atk_path?>templates/jui/images/favicon.ico" type="image/x-icon"  />
		<link rel="shortcut icon" href="<?$atk_path?>templates/jui/images/favicon.ico" />

		<link rel="stylesheet" type="text/css" href="<?$atk_path?>templates/jui/css/themes/<?theme?>agile<?/?>/jquery-ui.css" />
		<link rel="stylesheet" type="text/css" href="<?$atk_path?>templates/jui/css/agile.css" />
		<link rel="stylesheet" type="text/css" href="<?$atk_path?>templates/jui/css/general.css" />

		<?$js_include?>
		<script type="text/javascript">
			$(function(){
				<?$document_ready?>
			});
		</script>

	</head>
	<body>
		<div id="layout">
			<div class="wrapper">
				<div id="header">
					<?logo?><div id="atk-logo" class="ui-widget-header float-left"><img src="<?$atk_path?><?logo_url?>templates/jui/images/atk-logo.png<?/?>" /></div><?/logo?>
					<div id="header-right">
						<div id="atk-version"><b><?name?>Agile Toolkit™<?/?></b><br/><i><?$version?></i></div>
					</div>
					<div class="clear"></div>
				</div>

				<div id="Content">
					<?Content?>
					<?/?>
				</div>
				<div class="clear"></div>
			</div>
			<div id="footer-guard"></div>
		</div>
		<div id="footer" class="wrapper">
			This system is implemented using <a href="http://agiletech.ie/work/agile_toolkit/">Agile Toolkit™ / AModules</a>. &copy; 1999-2010
			| <?theme?>jui<?/?> Theme
		</div>
	</body>
</html>
