<?form?>
<form id="<?$_name?>" class="id="<?$form_name?>" name="<?$form_name?>" action="<?$form_action?>" method="POST" <?$enctype?>>
	<div class="ui-form">
		<div class="ui-widget-content ui-corner-top">
			<fieldset>
				<?form_body?>			
					<?form_line?>
					<div class="form_row">
						<label for="<?$field_name?>" <?field_mandatory?>class="mandatory"<?/?>><?$field_caption?></label>
						<div class="form_field"><?field_input?><input/><?/?></div>
						<?field_error?>
						<div class="ui-state-error ui-corner-all" style="padding: 0 .7em;"> 
						<p><span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span> 
						<strong>Error:</strong><?$field_error_str?></p> </div>
						<?/?>
					</div>	
					<?/form_line?>
		
					<?form_separator?></fieldset><fieldset>
					<div class="form_block"><h2 class="green_dots"><?separator?>Personal information<?/?></h2><?/form_separator?>
					<?form_comment?><?$comment?> <?/?>
				<?/form_body?>
			</fieldset>
		</div>
		<div class="ui-widget-content ui-corner-bottom ui-form-buttonpane ui-helper-clearfix">
		<?form_buttons?>
			<input type="button" value="Save" class="gbutton button_style1" />
		<?/form_buttons?>
		</div>
	</div>

</form>
<?/form?>

