<?form?>
<div class="atk-form atk-form-simple ui-widget">
	<form id="<?$_name?>" class="id="<?$form_name?>" name="<?$form_name?>" action="<?$form_action?>" method="POST" <?$enctype?>>

		<fieldset>
			<?form_body?>			
				<?form_line?>
				<dl>
					<dt><label for="<?$field_name?>" <?field_mandatory?>class="mandatory"<?/?>><?$field_caption?></label></dt>
					<dd class="atk-field"><div><?field_input?><input/><?/?></div></dd>
					<?field_error?>
					<dd class="atk-error"> 
						<div class="ui-state-error ui-corner-all"><span class="ui-icon"></span><?$field_error_str?></div>
					</dd>
					<?/?>
				</dl>	
				<?/form_line?>
	
				<?form_separator?>
				</fieldset>
				<fieldset>
					<?separator?>Personal information<?/?><?/form_separator?>
					<?form_comment?><?$comment?><?/?>
			<?/form_body?>
		</fieldset>

		<dl class="atk-form-buttons">
			<dd class="atk-field">
			<?form_buttons?>
				<input type="button" value="Save" class="no" />
			<?/form_buttons?>
			</dd>
		</dl>
	

	</form>
</div>
<?/form?>

