<!DOCTYPE html>
<html lang="en">
    <head>
		<title><?page_title?>Agile Toolkit<?/?></title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

		<link rel="shortcut icon" href="<?template?>images/favicon.ico<?/?>" type="image/x-icon"  />
		<link rel="shortcut icon" href="<?template?>images/favicon.ico<?/?>" />

		<link rel="stylesheet" type="text/css" href="<?template?>css/themes/agile/jquery-ui.css<?/?>" />
		<link rel="stylesheet" type="text/css" href="<?template?>css/agile.css<?/?>" />
		<link rel="stylesheet" type="text/css" href="<?template?>css/atk-icons.css<?/?>" />
		<link rel="stylesheet" type="text/css" href="<?template?>css/general.css<?/?>" />

		<?$js_include?>
		<script type="text/javascript">
			$(function(){
				<?$document_ready?>
			});
		</script>

	</head>
	<body>
		<div id="layout">
			<div class="wrapper">
				<div id="header">
					<?logo?><div id="atk-logo" class="ui-widget-header float-left"><a href="http://agiletoolkit.org/"
                    target="_blank"><img src="<?template?>images/atk-logo.png<?/?>" alt="Agile Toolkit" /></a></div><?/logo?>
					<div id="header-right">
						<?Menu?>
                            <div class="atk-menu atk-menu-horizontal ui-widget">
                                <ul>
								    <li class="ui-state-default"><a href="javascript:void(0)">Menu is not defined</a></li>
                                </ul>
							</div>
						<?/?>
						<div id="atk-version"><b><?name?>Agile Toolkit™<?/?></b><br/><i><?$version?></i></div>
						<div style="display: block" id="float-messages"></div>
					</div>
					<div class="clear"></div>
				</div>

				<div id="Content">
					<?Content?>
					<?/?>
				</div>
				<div class="clear"></div>
			</div>
			<div id="footer-guard"></div>
		</div>
		<div id="footer" class="wrapper">
			This system is implemented using 
            <a href="http://agiletoolkit.org/license">AGPL</a> version of <a href="http://agiletoolkit.org/">Agile Toolkit</a>. &copy; 1999-2011
			| <?theme?>jui<?/?> Theme
		</div>
	</body>
</html>
