<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!-- Agile Toolkit (c) Agile Technologies // http://www.agiletech.ie/ -->

<html xmlns="http://www.w3.org/1999/xhtml">

	<head>
		<title><?page_title?>Agile Toolkit<?/?></title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

		<link rel="shortcut icon" href="<?template?>images/favicon.ico<?/?>" type="image/x-icon"  />
		<link rel="shortcut icon" href="<?template?>images/favicon.ico<?/?>" />

		<link rel="stylesheet" type="text/css" href="<?template?>css/themes/agile/jquery-ui.css<?/?>" />
		<link rel="stylesheet" type="text/css" href="<?template?>css/agile.css<?/?>" />
		<link rel="stylesheet" type="text/css" href="<?template?>css/atk-icons.css<?/?>" />
		<link rel="stylesheet" type="text/css" href="<?template?>css/general.css<?/?>" />
		<!--[if lt IE 9]>
		<script src=<?template?>css/ie.js<?/?>"></script>
		<![endif]-->
		<?$js_include?>
		
		
		<script type="text/javascript">
			$(function(){
				<?$document_ready?>
			});
		</script>

	</head>
	<body class="atk-fullscreen gs-12">
		<div id="layout" class="gs-wrap">

			<div id="header">
				<?logo?><a href="http://agiletoolkit.org/" target="_blank"><div id="atk-logo" class="ui-widget-header float-left"><img src="<?template?>images/atk-logo.png<?/?>" alt="Agile Toolkit" /></div></a><?/logo?>
				<div id="header-right">
					<?Menu?>
						<ul class="ui-state-default ui-corner-all">
							<li><a href="javascript:void(0)">Dashboard</a></li>
							<li><a href="javascript:void(0)">Pipeline</a></li>
							<li><a href="javascript:void(0)">Engagements</a></li>
							<li><a href="javascript:void(0)">Settings</a></li>
						</ul>
					<?/?>
					<div id="atk-version"><b><?name?>Agile Toolkit™<?/?></b><br/><i><?$version?></i></div>
				</div>
			</div>

			<div id="Content">
				<?Content?>
				<?/?>
			</div>
			<div id="footer-guard"></div>
		</div>
		<div id="footer" class="gs-wrap">
			This system is built on <a href="http://agiletoolkit.org/" target="_blank">Agile Toolkit™</a>. Download for free at
			<a href="http://agiletoolkit.org/" target="_blank">www.agiletolokit.org</a>
		</div>
		<div id="atk-growl-holder"></div>
	</body>
</html>
