	<div id="login">
    <?form?>
      <form id="<?$form_short_name?>" name="<?$form_name?>" method="post" action="<?$form_action?>" onSubmit="">
        <fieldset>
        <legend>Authentication.</legend>
        <p class="description">Please enter your username and password.</p>
        <?form_body?>
        <?form_line?>
        <div class="input">
          <p class="label"><?field_caption?>Username<?/?>:</p>
          <?field_input?>
          <input name="Username" id="Username" value="" size="20" type="text">
          <?/field_input?>
          <?field_error?><br><font color=red>^ <?field_error_str?>Error<?/?></font><?/?>
        </div>
        <?/form_line?>
        <div class="input">
          <p class="label">Password:</p>
          <input name="Password" id="Password" value="" size="20" type="password">
        </div>
        <?form_checkbox?>
        <div class="checkbox">
          <p class="label"><?field_caption?>Remember me on this computer<?/?>:</p>
          <?field_input?>
          <input name="remember" value="Y" onChange="" type="checkbox">
          <?/field_input?>
        </div>
        <?/form_checkbox?>
        <?/form_body?>
        <p class="warning"><strong>Security warning:</strong> by ticking 'Remember me on this computer'
          you will no longer have to use a password to enter this site, until you explicitly log out.</p>
        <div class="submit">
          <div class="loader"></div>
          <?form_buttons?>
          <input type="submit" name="Login" value="Login">
          <?/form_buttons?>
        </div>
        </fieldset>
      </form>
    <?/form?>
    </div>