    <div id="content">
      <?form?>
      <!-- Bad Word control -->
      <h2><SPAN>Bad Word control.</SPAN></h2>
      <p>Editing of libraries of the forbidden words.</p>
      <form id="<?$form_short_name?>" name="<?$form_name?>" method="post" action="<?$form_action?>" onSubmit="">
        <fieldset>
        <?form_body?>
        <legend>Bad Word library </legend>
        <p class="description"></p>
        <fieldset>
        <legend>FlashChat libraries </legend>
        <?form_dropdown?>
        <div class="select">
          <p class="label"><?field_caption?>Library name<?/?>:</p>
          <?field_input?>
          <select name="libraryname" size="4" id="libraryname" onchange="">
            <option value="id01">Sex</option>
            <option value="id02">Obscene</option>
          </select>
          <?/field_input?>
          <?field_error?><br><font color=red>^ <?field_error_str?>Error<?/?></font><?/?>
        </div>
        <?/form_dropdown?>
        <?form_edit_open?>
        <div class="edit">
          <p class="label"><?edit_label?>Edit library<?/?>:</p>
          <div class="loader"></div>
        <?/form_edit_open?>
          <input name="newlibrary" type="button" id="newlibrary" value="Create new library">
          <input name="deleteselected" type="button" id="deleteselected" value="Delete selected">
        <?form_edit_close?>
        </div>
        <?/form_edit_close?>
        <?form_line?>
        <div class="input">
          <p class="label"><?field_caption?>New library name<?/?>:</p>
          <?field_input?>
          <input name="newlibraryname" id="newlibraryname" value="" size="30" type="text">
          <?/field_input?>
          <?field_error?><br><font color=red>^ <?field_error_str?>Error<?/?></font><?/?>
        </div>
        <?/form_line?>
        </fieldset>
        <fieldset>
        <legend>Words in selected library </legend>
        <div class="select">
          <p>Words in library</p>
          <select name="wordsinlib" size="5" id="wordsinlib" onchange="">
            <option value="id01">Obscene word 1</option>
            <option value="id02">Obscene word 2</option>
            <option value="id03">Obscene word 3</option>
            <option value="id04">Obscene word 4</option>
            <option value="id05">Obscene word 5</option>
            <option value="id06">Obscene word 6</option>
          </select>
        </div>
        <div class="edit">
          <p  class="label">Edit words in library:</p>
          <div class="loader"></div>
          <input name="newword" type="button" id="newword" value="Create new word">
          <input name="deleteselected" type="button" id="deleteselected" value="Delete selected">
        </div>
        <div class="input">
          <p class="label">New word:</p>
          <input name="newwordname" id="newwordname" value="" size="30" type="text">
        </div>
        <?/form_body?>
        </fieldset>
        <div class="submit">
          <div class="loader"></div>
          <?form_buttons?>
          <input type="submit" name="save" value="Save changes">
          <?/form_buttons?>
        </div>
      </form>
      <?/form?>
      <!-- END content -->
    </div>
