	<div id="content">
      <!-- Bad Word control -->
     <?form?>
      <h2><SPAN>Banned users.</SPAN></h2>
      <p>Management of the banned users' list.</p>
      <form id="<?$form_short_name?>" name="<?$form_name?>" method="post" action="<?$form_action?>" onSubmit="">
        <fieldset>
        <legend>Banned users  </legend>
        <p class="description"></p>
        <?form_body?>
        <?form_dropdown?>
        <div class="select">
          <p><?field_caption?>Banned users list<?/?></p>
          <?field_input?>
          <select name="wordsinlib" size="5" id="wordsinlib" onchange="">
            <option value="id01">User 1</option>
            <option value="id02">User 2</option>
            <option value="id03">User 3</option>
            <option value="id04">User 4</option>
            <option value="id05">User 5</option>
            <option value="id06">User 6</option>
          </select>
          <?/field_input?>
          <?field_error?><br><font color=red>^ <?field_error_str?>Error<?/?></font><?/?>
        </div>
        <?/form_dropdown?>
        <?form_edit_open?>
        <div class="edit">
          <p  class="label"><?edit_label?>Edit banned users list<?/?>:</p>
          <div class="loader"></div>
        <?/form_edit_open?>
          <input name="newword" type="button" id="unban" value="Unban user">
        <?form_edit_close?>
        </div>
        <?/form_edit_close?>
		<?/form_body?>
        </fieldset>
        <div class="submit">
          <div class="loader"></div>
          <?form_buttons?>
          <input type="submit" name="save" value="Save changes">
          <?/form_buttons?>
        </div>
      </form>
      <?/form?>
      <!-- END content -->
    </div>