    <div id="content">
      <?form?>
      <!-- FlashChat rooms -->
      <h2><SPAN>FlashChat rooms.</SPAN></h2>
      <p>Management of the list of mandatory rooms at loading a chat.</p>
      <form id="<?$form_short_name?>" name="<?$form_name?>" method="post" action="<?$form_action?>" onSubmit="">
        <fieldset>
        <?form_body?>
        <legend>Rooms</legend>
        <p class="description"></p>
        <?form_dropdown?>
        <div class="select">
          <p  class="label"><?field_caption?>Rooms list<?/?>:</p>
          <?field_input?>
          <select name="libraryname" size="4" id="libraryname" onchange="">
            <option value="id01">Sex</option>
            <option value="id02">Obscene</option>
          </select>
          <?/field_input?>
          <?field_error?><br><font color=red>^ <?field_error_str?>Error<?/?></font><?/?>
        </div>
        <?/form_dropdown?>
        <?form_edit_open?>
        <div class="edit">
          <p class="label"><?edit_label?>Edit rooms list<?/?>:</p>
          <div class="loader"></div>
        <?/form_edit_open?>
          <input name="newroom" type="button" id="newroom" value="Create new room">
          <input name="deleteselected" type="button" id="deleteselected" value="Delete selected">
        <?form_edit_close?>
        </div>
        <?/form_edit_close?>
        <?form_line?>
        <div class="input">
          <p class="label"><?field_caption?>New room name<?/?>:</p>
          <?field_input?>
          <input name="newroomname" id="newroomname" value="" size="30" type="text">
          <?/field_input?>
        </div>
        <?/form_line?>
        <?/form_body?>
        </fieldset>
        <div class="submit">
          <div class="loader"></div>
          <?form_buttons?>
          <input type="submit" name="save" value="Save changes">
          <?/form_buttons?>
        </div>
      </form>
      <!-- END content -->
      <?/form?>
    </div>