<!DOCTYPE HTML PUBLIC "-//W3C//DTD html 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<HEAD>
<TITLE><?page_title?>Authentication<?/?></TITLE>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<META content="FlashChat" name="keywords">
<META content="FlashChat Administrative System" name="description">
<META content="all" name="robots">
<script src="amodules3/templates/kt2/custom.js"></script>
<script src="amodules3/templates/shared/ajax.js"></script>
<script src="amodules3/templates/shared/amodules3.js"></script>
<script type="text/javascript" src="amodules3/templates/kt2/styleswitcher.js"></script>
<link href="amodules3/templates/fca/style.css" rel="stylesheet" type="text/css">
<script>
<?$js?>
</script>
<?$custom_head?>
</HEAD>
<BODY onLoad="<?$onload?>">
   <?Content?>
    <?$InfoWindow?>
   <?/?>
</BODY>
</HTML>
