    <div id="content">
      <?form?>
      <!-- FlashChat messages history page -->
      <h2><SPAN>FlashChat messages history.</SPAN></h2>
      <p></p>
      <form id="<?$form_short_name?>" name="<?$form_name?>" method="post" action="<?$form_action?>" onSubmit="">
        <fieldset>
        <?form_body?>
        <legend>Messages</legend>
        <p class="description"></p>
        <fieldset>
        <legend>Period</legend>
        <?form_radiobutton_open?>
        <div class="radiobutton"><?/?>
          <?form_radio?><span>
          <?field_input?>
          <input checked="checked" value="replace" name="badwordscontrol" id="radio" type="radio">
          <?/field_input?>
          <label><?field_caption?>By hour.<?/?></label>
          </span>
          <?field_error?><br><font color=red>^ <?field_error_str?>Error<?/?></font><?/?>
          <?/form_radio?>
          <span>
          <input value="kick" name="badwordscontrol" id="badwordscontrol" type="radio">
          <label>By day.</label>
          </span> <span>
          <input value="kick" name="badwordscontrol" id="badwordscontrol" type="radio">
          <label>By month.</label>
          </span>  <?form_radiobutton_close?></div><?/?>
        <?form_timeperiod_open?>
        <div id="timeperiod">
        <?/form_timeperiod_open?>
        <?form_timefrom_open?>
          <div class="timefrom"> <span class="label">From:</span>
            <div class="select"> 
        <?/form_timefrom_open?>
        	<?form_dropdown_time?>
            <span class="label"><?field_caption?>Hour<?/?>:</span>
              <?field_input?>
              <select id="fromhour" name="fromhour" onChange="">
                <option value="00" selected="selected">00:00</option>
                <option value="01">01:00</option>
                <option value="02">02:00</option>
                <option value="03">03:00</option>
                <option value="04">04:00</option>
                <option value="05">05:00</option>
                <option value="06">06:00</option>
                <option value="07">07:00</option>
                <option value="08">08:00</option>
                <option value="09">09:00</option>
                <option value="10">10:00</option>
                <option value="11">11:00</option>
                <option value="12">12:00</option>
                <option value="13">13:00</option>
                <option value="14">14:00</option>
                <option value="15">15:00</option>
                <option value="16">16:00</option>
                <option value="17">17:00</option>
                <option value="18">18:00</option>
                <option value="19">19:00</option>
                <option value="20">20:00</option>
                <option value="21">21:00</option>
                <option value="22">22:00</option>
                <option value="23">23:00</option>
              </select>
              <?/field_input?>
            <?field_error?><br><font color=red>^ <?field_error_str?>Error<?/?></font><?/?>
            <?/form_dropdown_time?>
              <span class="label">Day:</span>
              <select id="fromday" name="fromday" onChange="">
                <option value="01" selected="selected">01</option>
                <option value="02">02</option>
                <option value="03">03</option>
                <option value="04">04</option>
                <option value="05">05</option>
                <option value="06">06</option>
                <option value="07">07</option>
                <option value="08">08</option>
                <option value="09">09</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="17">17</option>
                <option value="18">18</option>
                <option value="19">19</option>
                <option value="20">20</option>
                <option value="21">21</option>
                <option value="22">22</option>
                <option value="23">23</option>
                <option value="24">24</option>
                <option value="25">25</option>
                <option value="26">26</option>
                <option value="27">27</option>
                <option value="28">28</option>
                <option value="29">29</option>
                <option value="30">30</option>
                <option value="31">31</option>
              </select>
              <span class="label">Month:</span>
              <select id="frommonth" name="frommonth" onChange="">
                <option value="01" selected="selected">Jan</option>
                <option value="02">Feb</option>
                <option value="03">Mar</option>
                <option value="04">Apr</option>
                <option value="05">May</option>
                <option value="06">Jun</option>
                <option value="07">Jul</option>
                <option value="08">Aug</option>
                <option value="09">Sep</option>
                <option value="10">Oct</option>
                <option value="11">Nov</option>
                <option value="12">Dec</option>
              </select>
              <span class="label">Day:</span>
              <select id="fromyear" name="fromdyear" onChange="">
                <option value="2006" selected="selected">2006</option>
                <option value="2007">2007</option>
              </select>
              <?form_timefrom_close?>
            </div>
          </div>
          <?/form_timefrom_close?>
          <?form_timeto_open?>
          <div class="timeto"> <span class="label">To:</span>
            <div class="select"> 
             <?/form_timeto_open?>
            <span class="label">Hour:</span>
              <select id="tohour" name="tohour" onChange="">
                <option value="00" selected="selected">00:00</option>
                <option value="01">01:00</option>
                <option value="02">02:00</option>
                <option value="03">03:00</option>
                <option value="04">04:00</option>
                <option value="05">05:00</option>
                <option value="06">06:00</option>
                <option value="07">07:00</option>
                <option value="08">08:00</option>
                <option value="09">09:00</option>
                <option value="10">10:00</option>
                <option value="11">11:00</option>
                <option value="12">12:00</option>
                <option value="13">13:00</option>
                <option value="14">14:00</option>
                <option value="15">15:00</option>
                <option value="16">16:00</option>
                <option value="17">17:00</option>
                <option value="18">18:00</option>
                <option value="19">19:00</option>
                <option value="20">20:00</option>
                <option value="21">21:00</option>
                <option value="22">22:00</option>
                <option value="23">23:00</option>
              </select>
              <span class="label">Day:</span>
              <select id="today" name="today" onChange="">
                <option value="01" selected="selected">01</option>
                <option value="02">02</option>
                <option value="03">03</option>
                <option value="04">04</option>
                <option value="05">05</option>
                <option value="06">06</option>
                <option value="07">07</option>
                <option value="08">08</option>
                <option value="09">09</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="17">17</option>
                <option value="18">18</option>
                <option value="19">19</option>
                <option value="20">20</option>
                <option value="21">21</option>
                <option value="22">22</option>
                <option value="23">23</option>
                <option value="24">24</option>
                <option value="25">25</option>
                <option value="26">26</option>
                <option value="27">27</option>
                <option value="28">28</option>
                <option value="29">29</option>
                <option value="30">30</option>
                <option value="31">31</option>
              </select>
              <span class="label">Month:</span>
              <select id="tomonth" name="tomonth" onChange="">
                <option value="01" selected="selected">Jan</option>
                <option value="02">Feb</option>
                <option value="03">Mar</option>
                <option value="04">Apr</option>
                <option value="05">May</option>
                <option value="06">Jun</option>
                <option value="07">Jul</option>
                <option value="08">Aug</option>
                <option value="09">Sep</option>
                <option value="10">Oct</option>
                <option value="11">Nov</option>
                <option value="12">Dec</option>
              </select>
              <span class="label">Day:</span>
              <select id="toyear" name="todyear" onChange="">
                <option value="2006" selected="selected">2006</option>
                <option value="2007">2007</option>
              </select>
             <?form_timeto_close?>
            </div>
          </div>
          <?/form_timeto_close?>
        <?form_timeperiod_close?>
        </div>
        <?/form_timeperiod_close?>
        <?form_filters_open?>
        </fieldset>
        <div id="filters">
        <?/form_filters_open?>
          <?form_dropdown?>
          <div class="select"><span class="label"><?field_caption?>Rooms<?/?>:</span>
            <?field_input?>
            <select id="rooms" name="rooms" onChange="">
              <option value="00" selected="selected">All rooms</option>
              <option value="01">Room 1</option>
              <option value="02">Room 2</option>
            </select>
            <?/field_input?>
            <?field_error?><br><font color=red>^ <?field_error_str?>Error<?/?></font><?/?>
          </div>
          <?/form_dropdown?>
        <?form_line?>
        <div class="input">
          <p class="label"><?field_caption?>Nick<?/?>:</p>
          <?field_input?>
          <input name="Nick" id="Nick" value="" size="20" type="text">
          <?/field_input?>
          <?field_error?><br><font color=red>^ <?field_error_str?>Error<?/?></font><?/?>
        </div>
        <?/form_line?>
        <?form_filters_close?>
        </div>
        <?/form_filters_close?>
        <?/form_body?>
        </fieldset>
        <div class="submit">
          <div class="loader"></div>
          <?form_buttons?>
          <input type="submit" name="save3" value="Show messages">
          <?/form_buttons?>
        </div>
      </form>
      <!-- END content -->
      <?/form?>
    </div>