<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<HTML xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
<HEAD>
<TITLE>FlashChat Administrative System | Authentication</TITLE>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<META content="Andrey Synyatkin" name="author">
<META content="FlashChat" name=keywords>
<META content="FlashChat Administrative System" name=description>
<META content="all" name="robots">
<link href="styles/style.css" rel="stylesheet" type="text/css">
<link rel="icon" href="favicon.ico" type="image/x-icon" />
<LINK title=RSS href="http://www.flashchat.com/rss.xml" type=application/rss+xml rel=alternate>
<script type="text/javascript">

</script>
</HEAD>
<BODY id="preloader">
<div id="container">
  <div id="innerFrame">
    <div id="intro">
      <div id="pageHeader">
        <H1><SPAN>FlashChat administrative system.</SPAN></H1>
        <p><SPAN>The Best Video Chat Solution.</SPAN></p>
      </div>
    </div>
    <div id="login">
    <?Content?>
      <form name="login" method="post" action="" onSubmit="">
        <fieldset>
        <legend>Authentication.</legend>
        <p class="description">Please enter your username and password.</p>
        <div class="input">
          <p class="label">Username:</p>
          <input name="Username" id="Username" value="" size="20" type="text">
        </div>
        <div class="input">
          <p class="label">Password:</p>
          <input name="Password" id="Password" value="" size="20" type="password">
        </div>
        <div class="checkbox">
          <p class="label">Remember me on this computer:</p>
          <input name="remember" value="Y" onChange="" type="checkbox">
        </div>
        <p class="warning"><strong>Security warning:</strong> by ticking 'Remember me on this computer'
          you will no longer have to use a password to enter this site, until you explicitly log out.</p>
        <div class="submit">
          <div class="loader"></div>
          <input type="submit" name="Login" value="Login">
        </div>
        </fieldset>
      </form>
    <?/Content?>
    </div>
    <div id="content">
      <!-- Login page content-->
      <h2><SPAN>Wellcome to FlashChat administrative system.</SPAN></h2>
      <p>The easiest way to operate and supervise your own videochat.</p>
      <!-- END content -->
      
    </div>
    <div id="footer">
      <div id="copy"> <span>Copyright &copy; 2006, FlashChat.</span> <span class="engine">powered by AModules</span> </div>
    </div>
  </div>
</div>
<div id=extraDiv1><SPAN></SPAN></div>
</BODY>
</HTML>
