<!DOCTYPE HTML PUBLIC "-//W3C//DTD html 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<HEAD>
<TITLE><?page_title?>Authentication<?/?></TITLE>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<META content="FlashChat" name="keywords">
<META content="FlashChat Administrative System" name="description">
<META content="all" name="robots">
<script src="amodules3/templates/kt2/custom.js"></script>
<script src="amodules3/templates/shared/ajax.js"></script>
<script src="amodules3/templates/shared/amodules3.js"></script>
<script type="text/javascript" src="amodules3/templates/kt2/styleswitcher.js"></script>
<link href="amodules3/templates/fca/style.css" rel="stylesheet" type="text/css">
<script>
<?$js?>
</script>
<?$custom_head?>
</HEAD>
<BODY onLoad="<?$onload?>">
<table width=100% height=100% cellspacing=0 cellpadding=0 border=0>
 <tr><td width=250 valign=top>
  <div style="background:#eee; border-right: 1px solid black; border-bottom: 1px solid black; width:250px">
  <center><?logo?><img src="amodules3/templates/fca/logo.gif"><?/logo?></center>
  <div style="padding: 10px; border-top: 1px solid gray; border-bottom: 1px solid gray">
  <?Menu?>
    <div class="menu">
      <h3><SPAN>Main Menu</SPAN></h3>
      <ul>
      <?rows?>
        <?row?>
        <li id="nav-<?page?>preloader<?/?>"> <?href?><A title="Chat loader parameters" href="preloader.html"><?/?><?label?>Chat loader parameters<?/label?><?chref?></A><?/?></li>
        <?/row?>
        <li id="nav-preloader"> <a href="preloader">Chat loader parameters</a></li>
        <li id="nav-messages"> <a href="messages">System messages and text</a></li>
        <li id="nav-antiflood"> <a href="antiflood">Antiflood system</a></li>
        <li id="nav-badcontrol"> <a href="badcontrol">Bad word control</a></li>
        <li id="nav-badnick"> <a href="badnick">Bad nick and room name</a></li>
        <li id="nav-chatrooms"> <a href="chatrooms">Chat rooms</a></li>
        <li id="nav-history"> <a href="history">Message history</a></li>
        <li id="nav-statistic"> <a href="statistic">Chat statistic</a></li>
        <li id="nav-banusers"> <a href="banusers">Banned users</a></li>
        <li id="nav-users"> <a href="users">FlashChat administrators</a></li>
      <?/rows?>
      </ul>
    </div>
    <?/Menu?>
  </div>

  <div id="copy"> <span><?copyright?>All Rights Reserved<?/?></span> <span class="engine">version <?version?>0.1<?/version?></span> </div>

 </td><td width=100% valign=top>
 <div style="padding: 10px; padding-top: 0px">
   <table cellspacing=0 cellpadding=0 border=0 width=100%> 
   <tr><td>
  <img src="amodules3/templates/fca/icochoice.gif">
  </td><td width=100%>
   <?Locator?>
   <?rows?><?row?><h3><?label?><?page_title?>Creating new account<?/?><?/?></h3><?/?>
   <?/rows?>
   <?/Locator?>
   </td><td>
  <img src="amodules3/templates/fca/icologout.gif">
   </td><td>
    <div id="logout"> <a href="Logout">Logout</a> </div>
   </td></tr>
  </table>
   <div style="background: #a3362d; height: 4px; width: 100%; margin-bottom: 10px"></div>
   <?Content?>
    <?$InfoWindow?>
    <?msgbox?>
      <div align=center style="padding: 10px">
      <table class="msgbox" border="0" cellpadding="0" cellspacing="0" style="border: 1px solid black" <?$opt?>>

        <tbody>

          <tr class="header">

            <td><?title?>This
is sample box<?/?></td>

          </tr>

          <tr>

            <td style="height: 32px; padding-left: 10px; padding-right: 10px"><?Content?><?content?>Welcome to our new
template for AModules3. How cool is this, ? i think it's good enough..
ehmm. hm.<br>

            <div style="text-align: right;"><a href="shared.html#">Read
more...</a></div>
<?/content?><?/Content?>

            </td>

          </tr>

        </tbody>
      </table>
      </center>
    <?/msgbox?>
   <?/?>
 </div>
</td></tr>
</table>
<div id="extraDiv1"><span></span></div>
</BODY>
</HTML>
