    <div id="content">
      <?form?>
      <!-- FlashChat statistic -->
      <h2><SPAN>FlashChat statistic.</SPAN></h2>
      <p></p>
      <form id="<?$form_short_name?>" name="<?$form_name?>" method="post" action="<?$form_action?>" onSubmit="">
        <fieldset>
        <?form_body?>
        <legend>FlashChat visitors statistic</legend>
        <p class="description"></p>
        <fieldset>
        <legend>Period</legend>
        <?form_radiobutton_open?>
        <div class="radiobutton">
        <?/form_radiobutton_open?>
        <?form_radio?>
        <span>
          <?field_input?>
          <input checked="checked" value="month" name="month" id="month" type="radio">
          <?/field_input?>
          <label><?field_caption?>By month.<?/?></label>
          </span>
          <?/form_radio?>
          <span>
          <input value="year" name="year" id="year" type="radio">
          <label>By year.</label>
          </span> </span>
        <?form_radiobutton_close?>
        </div>
        <?/form_radiobutton_close?>
        <?form_timeperiod_open?>
        <div id="timeperiod">
        <?/form_timeperiod_open?>
        <?form_timefrom_open?>
          <div class="timefrom">
            <div class="select">
            <?/form_timefrom_open?>
            <?form_dropdown_time?>
            <span class="label"><?field_caption?>Month<?/?>:</span>
              <?field_input?>
              <select id="frommonth" name="frommonth" onChange="">
                <option value="01" selected="selected">Jan</option>
                <option value="02">Feb</option>
                <option value="03">Mar</option>
                <option value="04">Apr</option>
                <option value="05">May</option>
                <option value="06">Jun</option>
                <option value="07">Jul</option>
                <option value="08">Aug</option>
                <option value="09">Sep</option>
                <option value="10">Oct</option>
                <option value="11">Nov</option>
                <option value="12">Dec</option>
              </select>
              <?/field_input?>
              <?form_dropdown_time?>
              <span class="label">Year:</span>
              <select id="fromyear" name="fromdyear" onChange="">
                <option value="2006" selected="selected">2006</option>
                <option value="2007">2007</option>
              </select>
            <?form_timefrom_close?>
            </div>
          </div>
          <?/form_timefrom_close?>
        <?form_timeperiod_close?>
        </div>
        <?/form_timeperiod_close?>
        </fieldset>
		<fieldset>
        <legend>Visitors</legend>
        <?form_body?>
		</fieldset>
        <div class="submit">
          <div class="loader"></div>
          <?form_buttons?>
          <input type="submit" name="save3" value="Show messages">
          <?form_buttons?>
        </div>
      </form>
      <!-- END content -->
      <?/form?>
    </div>