	<div id="content">
      <?form?>
      <!-- FlashChat rooms -->
      <h2><SPAN>FlashChat administrators.</SPAN></h2>
      <p>In this chapter you can edit, add or delete profiles of FlashChat administrators.</p>
      <form id="<?$form_short_name?>" name="<?$form_name?>" method="post" action="<?$form_action?>" onSubmit="">
        <fieldset>
        <?form_body?>
        <legend>Accounts</legend>
        <p class="description"></p>
        <?form_dropdown?>
        <div class="select">
          <p  class="label"><?field_caption?>Administrators list<?/?>:</p>
          <?field_input?>
          <select name="admins" size="4" id="admins" onchange="">
            <option value="id01">Admin 1</option>
            <option value="id02">Admin 2</option>
          </select>
          <?/field_input?>
          <?field_error?><br><font color=red>^ <?field_error_str?>Error<?/?></font><?/?>
        </div>
		<?/form_dropdown?>      
	    <?form_edit_open?>
	    <div class="edit">
          <p class="label"><?edit_label?>Edit list<?/?>:</p>
          <div class="loader"></div>
        <?/form_edit_open?>
          <input name="newaccount" type="button" id="newaccount" value="Create new account">
          <input name="deleteselected" type="button" id="deleteselected" value="Delete selected">
        <?form_edit_close?>
        </div>
        <?/form_edit_close?>
        <?form_line?>
        <div class="input">
          <p class="label"><?field_caption?>New account name<?/?>:</p>
          <?field_input?>
          <input name="newaccountname" id="newaccountname" value="" size="30" type="text">
          <?/field_input?>
          <?field_error?><br><font color=red>^ <?field_error_str?>Error<?/?></font><?/?>
        </div>
        <?/form_line?>
        <fieldset>
        <legend>FlashChat sites for this account. </legend>
        <div class="select">
          <p  class="label">FlashChat sites  list: </p>
          <select name="sitesname" size="4" id="sitesname" onchange="">
            <option value="id01">Chat.pl</option>
            <option value="id02">Crossdressers.com</option>
          </select>
        </div>
        <div class="edit">
          <p class="label">Edit list:</p>
          <div class="loader"></div>
          <input name="newsite" type="button" id="newsite" value="Create new site">
          <input name="deleteselected" type="button" id="deleteselected" value="Delete selected">
        </div>
        <div class="input">
          <p class="label">New FlashChat site:</p>
          <input name="newaccountname" id="newaccountname" value="" size="30" type="text">
        </div>
        </fieldset>
        <fieldset>
        <legend>Authentication settings.</legend>
        <p>Please edit username and password.</p>
        <div class="input">
          <p class="label">Username:</p>
          <input name="Username" id="Username" value="" size="20" type="text">
        </div>
        <div class="input">
          <p class="label">Password:</p>
          <input name="Password" id="Password" value="" size="20" type="password">
        </div>
        <div class="input">
          <p class="label">Re-Password:</p>
          <input name="RePassword" id="RePassword" value="" size="20" type="password">
        </div>
        </fieldset>
        <?/form_body?>
        </fieldset>
        <div class="submit">
          <div class="loaderoff"></div>
          <?form_buttons?>
          <input type="submit" name="save" value="Save changes">
          <?/form_buttons?>
        </div>
      </form>
      <!-- END content -->
      <?/form?>
    </div>