<?wizmenu?>
	<div id="wizprogress">
      <h3 class="complete"><span>FlashChat Wizard</span></h3>
      <ul>
        <?rows?>
        <?row?>
        <li class="<?class?>complete<?/?>"><span><?href?><?/?><?label?>Startup wizard page<?/?><?chref?><?/?></span></li>
        <?/row?>
        <li class="selected"><span>FlashChat login screen.</span></li>
        <li class="notcomplete"><span>Chat rooms.</span></li>
        <li class="notcomplete"><span>Bad nick and room name.</span></li>
        <li class="notcomplete"><span>Generate config file.</span></li>
        <?/rows?>
      </ul>
    </div>
<?/wizmenu?>