<!-- Non-standart compliant include of ATK icon stylesheet in case if it's not already included in your default template -->
<link rel="stylesheet" type="text/css" href="./atk4/templates/shared/css/atk-icons.css" />

<!-- Show icons container -->
<div class="ui-widget-content" style="padding:5em">
<div class="col-layout c3 atk-icon-layout">
				<div>
					<h3>Available colors</h3>
					<i class="atk-icon atk-icons-red atk-icon-basic-plus"></i>red <i>(shown here as example)</i><br />
					<i class="atk-icon atk-icons-orange atk-icon-basic-plus"></i>orange<br />
					<i class="atk-icon atk-icons-yellow atk-icon-basic-plus"></i>yellow<br />
					<i class="atk-icon atk-icons-green atk-icon-basic-plus"></i>green<br />
					<i class="atk-icon atk-icons-cyan atk-icon-basic-plus"></i>cyan<br />
					<i class="atk-icon atk-icons-blue atk-icon-basic-plus"></i>blue<br />
					<i class="atk-icon atk-icons-violet atk-icon-basic-plus"></i>violet<br />
					<i class="atk-icon atk-icons-pink atk-icon-basic-plus"></i>pink<br />
					<i class="atk-icon atk-icons-gray atk-icon-basic-plus"></i>gray<br />
					<i class="atk-icon atk-icons-nobg atk-icon-basic-plus"></i>nobg<br />
					<i class="atk-icon atk-icons-custom atk-icon-basic-plus"></i>custom<br />
					<i class="atk-icon atk-icons-white atk-icon-basic-plus"></i>white<br />
					<h3>Basic</h3>
					<i class="atk-icon atk-icons-red atk-icon-basic-plus"></i>
					<i class="atk-icon atk-icons-red atk-icon-basic-minus"></i>
					<i class="atk-icon atk-icons-red atk-icon-basic-ex"></i>
					<i class="atk-icon atk-icons-red atk-icon-basic-question"></i>
					<i class="atk-icon atk-icons-red atk-icon-basic-exclam"></i>
					<i class="atk-icon atk-icons-red atk-icon-basic-info"></i>
					<i class="atk-icon atk-icons-red atk-icon-basic-check"></i>
					<i class="atk-icon atk-icons-red atk-icon-basic-cancel"></i>
					<i class="atk-icon atk-icons-red atk-icon-basic-user"></i>
					<i class="atk-icon atk-icons-red atk-icon-basic-group"></i>
					<i class="atk-icon atk-icons-red atk-icon-basic-search"></i>
					<h3>Arrows</h3>
					<i class="atk-icon atk-icons-red atk-icon-arrows-left"></i>
					<i class="atk-icon atk-icons-red atk-icon-arrows-right"></i>
					<i class="atk-icon atk-icons-red atk-icon-arrows-top"></i>
					<i class="atk-icon atk-icons-red atk-icon-arrows-bottom"></i>
					<i class="atk-icon atk-icons-red atk-icon-arrows-topright"></i>
					<i class="atk-icon atk-icons-red atk-icon-arrows-topleft"></i>
					<i class="atk-icon atk-icons-red atk-icon-arrows-bottomleft"></i>
					<i class="atk-icon atk-icons-red atk-icon-arrows-bottomright"></i>
					<i class="atk-icon atk-icons-red atk-icon-arrows-horizontal"></i>
					<i class="atk-icon atk-icons-red atk-icon-arrows-vertical"></i>
					<i class="atk-icon atk-icons-red atk-icon-arrows-move"></i>
					<i class="atk-icon atk-icons-red atk-icon-arrows-scale"></i>
					<i class="atk-icon atk-icons-red atk-icon-arrows-moveleft"></i>
					<i class="atk-icon atk-icons-red atk-icon-arrows-moveright"></i>
					<i class="atk-icon atk-icons-red atk-icon-arrows-movetop"></i>
					<i class="atk-icon atk-icons-red atk-icon-arrows-movebottom"></i>
					<i class="atk-icon atk-icons-red atk-icon-arrows-left2"></i>
					<i class="atk-icon atk-icons-red atk-icon-arrows-right2"></i>
					<i class="atk-icon atk-icons-red atk-icon-arrows-top2"></i>
					<i class="atk-icon atk-icons-red atk-icon-arrows-bottom2"></i>
					<i class="atk-icon atk-icons-red atk-icon-arrows-right3"></i>
					<i class="atk-icon atk-icons-red atk-icon-arrows-bottom3"></i>
					<i class="atk-icon atk-icons-red atk-icon-arrows-left3"></i>
					<i class="atk-icon atk-icons-red atk-icon-arrows-top3"></i>
					<i class="atk-icon atk-icons-red atk-icon-arrows-laquo"></i>
					<i class="atk-icon atk-icons-red atk-icon-arrows-raquo"></i>
					<h3>Player</h3>
					<i class="atk-icon atk-icons-red atk-icon-player-previous"></i>
					<i class="atk-icon atk-icons-red atk-icon-player-rewind"></i>
					<i class="atk-icon atk-icons-red atk-icon-player-pause"></i>
					<i class="atk-icon atk-icons-red atk-icon-player-stop"></i>
					<i class="atk-icon atk-icons-red atk-icon-player-play"></i>
					<i class="atk-icon atk-icons-red atk-icon-player-rec"></i>
					<i class="atk-icon atk-icons-red atk-icon-player-forward"></i>
					<i class="atk-icon atk-icons-red atk-icon-player-next"></i>
					<i class="atk-icon atk-icons-red atk-icon-player-eject"></i>
					<i class="atk-icon atk-icons-red atk-icon-player-shuffle"></i>
					<i class="atk-icon atk-icons-red atk-icon-player-soundoff"></i>
					<i class="atk-icon atk-icons-red atk-icon-player-soundon"></i>
					<i class="atk-icon atk-icons-red atk-icon-player-soundon2"></i>
				</div>
				<div>
					<h3>Fun</h3>
					<i class="atk-icon atk-icons-red atk-icon-fun-chat"></i>
					<i class="atk-icon atk-icons-red atk-icon-fun-heart"></i>
					<i class="atk-icon atk-icons-red atk-icon-fun-star"></i>
					<i class="atk-icon atk-icons-red atk-icon-fun-lightning"></i>
					<i class="atk-icon atk-icons-red atk-icon-fun-sun"></i>
					<i class="atk-icon atk-icons-red atk-icon-fun-moon"></i>
					<i class="atk-icon atk-icons-red atk-icon-fun-cloud"></i>
					<i class="atk-icon atk-icons-red atk-icon-fun-thumbsup"></i>
					<i class="atk-icon atk-icons-red atk-icon-fun-thumbsdown"></i>
					<i class="atk-icon atk-icons-red atk-icon-fun-happy"></i>
					<i class="atk-icon atk-icons-red atk-icon-fun-sad"></i>
					<i class="atk-icon atk-icons-red atk-icon-fun-drink"></i>
					<i class="atk-icon atk-icons-red atk-icon-fun-image"></i>
					<i class="atk-icon atk-icons-red atk-icon-fun-music"></i>
					<i class="atk-icon atk-icons-red atk-icon-fun-movie"></i>
					<i class="atk-icon atk-icons-red atk-icon-fun-cart"></i>
					<i class="atk-icon atk-icons-red atk-icon-fun-tag"></i>
					<i class="atk-icon atk-icons-red atk-icon-fun-puzzle"></i>
					<i class="atk-icon atk-icons-red atk-icon-fun-umbrella"></i>
					<i class="atk-icon atk-icons-red atk-icon-fun-tshirt"></i>
					<i class="atk-icon atk-icons-red atk-icon-fun-car"></i>
					<i class="atk-icon atk-icons-red atk-icon-fun-cursor"></i>
					<h3>Technics, tools</h3>
					<i class="atk-icon atk-icons-red atk-icon-tech-power"></i>
					<i class="atk-icon atk-icons-red atk-icon-tech-pulse"></i>
					<i class="atk-icon atk-icons-red atk-icon-tech-bulb"></i>
					<i class="atk-icon atk-icons-red atk-icon-tech-videocam"></i>
					<i class="atk-icon atk-icons-red atk-icon-tech-tv"></i>
					<i class="atk-icon atk-icons-red atk-icon-tech-cellphone"></i>
					<i class="atk-icon atk-icons-red atk-icon-tech-phone"></i>
					<i class="atk-icon atk-icons-red atk-icon-tech-headphones"></i>
					<i class="atk-icon atk-icons-red atk-icon-tech-clock"></i>
					<i class="atk-icon atk-icons-red atk-icon-tech-printer"></i>
					<i class="atk-icon atk-icons-red atk-icon-tech-microphone"></i>
					<i class="atk-icon atk-icons-red atk-icon-tech-lock"></i>
					<i class="atk-icon atk-icons-red atk-icon-tech-unlock"></i>
					<i class="atk-icon atk-icons-red atk-icon-tech-gear"></i>
					<i class="atk-icon atk-icons-red atk-icon-tech-wrench"></i>
					<i class="atk-icon atk-icons-red atk-icon-tech-scissors"></i>
					<i class="atk-icon atk-icons-red atk-icon-tech-trash"></i>
					<h3>Navigation</h3>
					<i class="atk-icon atk-icons-red atk-icon-nav-home"></i>
					<i class="atk-icon atk-icons-red atk-icon-nav-mail"></i>
					<i class="atk-icon atk-icons-red atk-icon-nav-sitemap"></i>
					<i class="atk-icon atk-icons-red atk-icon-nav-link"></i>
					<i class="atk-icon atk-icons-red atk-icon-nav-restore"></i>
					<i class="atk-icon atk-icons-red atk-icon-nav-switches"></i>
					<i class="atk-icon atk-icons-red atk-icon-nav-at"></i>
					<i class="atk-icon atk-icons-red atk-icon-nav-rss"></i>
					<i class="atk-icon atk-icons-red atk-icon-nav-planet"></i>
				</div>
				<div>
					<h3>Text</h3>
					<i class="atk-icon atk-icons-red atk-icon-text-font"></i>
					<i class="atk-icon atk-icons-red atk-icon-text-paragraph"></i>
					<i class="atk-icon atk-icons-red atk-icon-text-unitlist"></i>
					<i class="atk-icon atk-icons-red atk-icon-text-underline"></i>
					<i class="atk-icon atk-icons-red atk-icon-text-bold"></i>
					<i class="atk-icon atk-icons-red atk-icon-text-italic"></i>
					<i class="atk-icon atk-icons-red atk-icon-text-left"></i>
					<i class="atk-icon atk-icons-red atk-icon-text-center"></i>
					<i class="atk-icon atk-icons-red atk-icon-text-right"></i>
					<i class="atk-icon atk-icons-red atk-icon-text-justify"></i>
					<i class="atk-icon atk-icons-red atk-icon-text-quoteopen"></i>
					<i class="atk-icon atk-icons-red atk-icon-text-quoteclose"></i>
					<h3>Office</h3>
					<i class="atk-icon atk-icons-red atk-icon-office-file"></i>
					<i class="atk-icon atk-icons-red atk-icon-office-folder"></i>
					<i class="atk-icon atk-icons-red atk-icon-office-calendar"></i>
					<i class="atk-icon atk-icons-red atk-icon-office-calendar2"></i>
					<i class="atk-icon atk-icons-red atk-icon-office-calculator"></i>
					<i class="atk-icon atk-icons-red atk-icon-office-pin"></i>
					<i class="atk-icon atk-icons-red atk-icon-office-attach"></i>
					<i class="atk-icon atk-icons-red atk-icon-office-key"></i>
					<i class="atk-icon atk-icons-red atk-icon-office-flag"></i>
					<i class="atk-icon atk-icons-red atk-icon-office-pencil"></i>
					<i class="atk-icon atk-icons-red atk-icon-office-chart"></i>
					<i class="atk-icon atk-icons-red atk-icon-office-briefcase"></i>
					<i class="atk-icon atk-icons-red atk-icon-office-badge"></i>
					<i class="atk-icon atk-icons-red atk-icon-office-filledfile"></i>
					<h3>Currencies</h3>
					<i class="atk-icon atk-icons-red atk-icon-currency-euro"></i>
					<i class="atk-icon atk-icons-red atk-icon-currency-dollar"></i>
					<i class="atk-icon atk-icons-red atk-icon-currency-yen"></i>
					<i class="atk-icon atk-icons-red atk-icon-currency-rouble"></i>
					<h3>Usage</h3>
					<p>In order for these icons to work in your page you have to <b>include</b> icons stylesheet <b>atk-icons.css</b> in your page header.</p>
				</div>
			</div>
</div>