
<div id="{$_name}" class="atk-table">
  <!-- Pannel goes here-->
  <table>{header}
    <thead>{cols}{col}
      <th></th>{/}{/}
    </thead>{/}
    {$subheader}
    <tbody>{rows}{row}
      <tr class="{$odd_even}">
        {cols}{col}
        <td {$tdparam}>
        {$content}
        </td>
        {/}{/}
      </tr>{/}{/}
      {totals}
      <tr class="totals">
        {cols}{col}
        <td {$tdparam}>
        {$content}
        </td>
        {/}{/}
      </tr>{/}
    </tbody>
  </table>{$paginator}
</div>