doctype html
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9"><![endif]-->
html(lang="{lang}en{/}")
    head
        meta(charset="utf-8")
        <!--[if IE><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
        title {page_title}Untitled Project - Agile Toolkit{/}
        //meta(name="desciption" content="{$page_description}")
        {$page_metas}

        // Place favicon.ico and apple-touch-icon.png in the root directory

        link(href='http://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css')
        link(rel="stylesheet" type="text/css" href="{css}theme.css{/}")

        {$js_block}
        {$js_include}

        script(type='text/javascript').
            $(function(){
                {$document_ready}
            });

    body(class="{$pagename}")
        <!--[if lt IE 7]>
        <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        {Layout}
        .atk-layout
            .atk-layout-row
                .atk-wrapper.atk-padding-small.atk-cells
                    .atk-cell.atk-valign-middle
                        img(src="{public}images/logo.png{/}" style="background: black")
                    .atk-cell.atk-jackscrew.atk-align-right
                        {$Menu}

            .atk-layout-row.atk-layout-fluid
                .atk-wrapper
                    {$Content}

            .atk-layout-row
                .atk-wrapper.atk-padding-small.atk-align-center.atk-size-milli
                    | This system is implemented using&nbsp;
                    a(href="http://agiletoolkit.org/") Agile Toolkit
                    |. © 1999–2014 Agile Toolkit Limited.&nbsp;
                    a(href="https://github.com/atk4/atk4/blob/master/LICENSE") See License
        {/}
