doctype html
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9"><![endif]-->
html(lang="{lang}en{/}")
    head
        meta(charset="utf-8")
        <!--[if IE><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
        title {page_title}Untitled Project - Agile Toolkit{/}
        meta(name="desciption" content="{$page_description}")

        // Place favicon.ico and apple-touch-icon.png in the root directory

        link(href='http://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css')
        link(rel="stylesheet" type="text/css" href="{css}style.css{/}")

        {$js_block}
        {$js_include}

        script(type='text/javascript').
            $(function(){
                {$document_ready}
            });

    body(class="{$pagename}")
        <!--[if lt IE 7]>
        <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        {Layout}
        .atk-layout
            .atk-menu-bar.atk-cells.atk-push.atk-shape-rounded
                .atk-cell.atk-valign-middle
                    img(src="{public}images/logo.png{/}" style="background: black")
                .atk-cell.atk-jackscrew
                    {$Menu}

            #atk-main.atk-layout-row.fluid
                #atk-main-inner.atk-layout
                    #atk-content.atk-layout-column.fluid
                        {$Content}

            .atk-layout-row
                footer#atk-footer
                    &copy; Agile Toolkit 2014
        {/}
