<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
		<title><?page_title?>Agile55 Limited™ - Web Software Development<?/?></title>
        <meta name="description" content="<?$page_description?>">
        <meta name="viewport" content="width=device-width">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link rel="stylesheet" type="text/css" href="<?css?>ui-lightness/jquery-ui-1.10.3.custom.min.css<?/?>" />
        <link rel="stylesheet" type="text/css" href="<?css?>agiletoolkit.css<?/?>" />
        <link rel="stylesheet" type="text/css" href="<?css?>agiletoolkit-custom.css<?/?>" />

		<?$js_include?>

		<script type="text/javascript">
			$(function(){
				<?$document_ready?>
			});
		</script>
	</head>
	<body id="<?$pagename?>">
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        <?Layout?>

        <div class="atk-layout">
			<div class="atk-layout-row">
				<header id="atk-header" class="giga">AgileToolkit 4.3 &ndash; <strong>Snippets</strong></header>
                <?$Menu?>
			</div>

            <div id="atk-main" class="atk-layout-row fluid">
				<div id="atk-main-inner" class="atk-layout">
					<div id="atk-content" class="atk-layout-column fluid">
                    <?$Content?>
                    </div>
                </div>
            </div>

			<div class="atk-layout-row">
				<footer id="atk-footer">
					&copy; Agile Toolkit 2013
				</footer>
			</div>
		</div>

        <?/?>

	</body>
</html>
