.atk-tabs(id="{$_name}" class="{$class}")
    ul(class="{$ul_class}")
        {tabs}
        li(data-tabid="{$tab_id}" class="{$tab_class}")
            a(href="{$url}") {$tab_name}
        {/}
    {$Content}
