/* Agile Toolkit (c) Agile Technologies // http://www.agiletech.ie/ */
/* **** BETA **** Updated on 07/09/10 */


/* ------------ Resetting elements */

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {margin:0;padding:0;}
table {border-collapse:collapse;border-spacing:0;}
fieldset,img {border:0;}
address,caption,cite,code,dfn,em,strong,th,var {font-style:normal;font-weight:normal;}
ol,ul {list-style:none;}
caption,th {text-align:left;}
h1,h2,h3,h4,h5,h6 {font-size:100%;font-weight:normal;}
q:before,q:after {content:'';}
abbr,acronym {border:0;}
a:active {outline:none; -moz-outline-style:none;}
a:focus {outline:none; -moz-outline-style:none;}


/* ------------ Typography */

h1, h2, h3, h4, h5, h6 {line-height:1.3;margin:1em 0 .5em 0;font-weight:bold;}
h1 {font-size:2em;margin:0.67em 0 0.5em 0;}
h2 {font-size:1.5em; margin:0.75em 0 0.7em 0;}
h3 {font-size:1.3em; margin:0.83em 0 0.5em 0;}
h4 {font-size:1.1em;}
h5 {font-size:0.83em;margin:1.4em 0 0.7em 0}
h6 {font-size:0.75em;margin:1.4em 0 0.7em 0}

p,blockquote, ul, ol, dl, dir, menu {margin:0 0 1.12em 0;}
p {line-height:1.4;}

dir, menu {margin-left:40px}
ol, ul {margin-left:20px;}
ol {list-style-type:decimal}
ul {list-style-type:disc;}
ol ul, ul ol, ul ul, ol ol {margin-top:0; margin-bottom:0}
ul li, ol li {margin-bottom:0.8em;}

h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child {margin-top:0;}
strong {font-weight:bold;}

.hr, .hr-small {height:60px;background:url(../images/hr.png) repeat-x center;}
.hr-small {height:30px;}
.hr+h1, .hr+h2, .hr+h3, .hr+h4, .hr+h5 {margin-top:0;}



/* ------------ jQuery UI settings */

.atk-frame.ui-widget-content {padding:0;border:0;}
.atk-frame.ui-widget>.ui-widget-header {padding:0.5em 0.8em;font-size:120%;}
.atk-frame.ui-widget>.ui-widget-content {padding:1em;}
.atk-frame>.ui-widget-header+.ui-widget-content {border-top:none;}

.ui-widget {margin-bottom:0;}
.ui-widget.ui-button {margin-bottom:0;}


/* ------------ Features */


#atk-logo {border:none;font-size:0;line-height:0;width:163px;height:41px;overflow:hidden;}
.clear {clear:both;font-size:0;line-height:0;}
.clearfix {overflow:hidden;width:100%;}
.float-left {float:left;}
.float-right {float:right;}
.wrapper {width:980px;margin:auto;}
.clearing:after {content:".";display:block;height:0;clear:both;visibility:hidden;font-size:0;}
.clearing {.zoom:1;.display:block;}
.atk-button-panel>button {margin:0 .5em 1em 0 !important;}


/* ------------ Styling */

body {font-size:10pt;font-family:Arial,sans-serif;}
a:link, a:hover {color:#3886b3;text-decoration:underline;}
a:visited {color:#3886b3;text-decoration:underline;}

.atk-sep {margin:0 0.2em;color:#999;}

.atk-button {padding:0;margin:0;background:#eee;border:none;background:none;}
.atk-button::-moz-focus-inner{padding:0;border:none}

.atk-layout>div {float:left;margin-left:40px;}
.atk-layout.fluid>div {margin-left:4%;}
.atk-layout>div:first-child {margin-left:0!important;}
.atk-layout.c2>div {width:470px;}
.atk-layout.c3>div {width:300px;}
.atk-layout.c4>div {width:215px;}
.atk-layout.fluid.c2>div {width:48%}
.atk-layout.fluid.c3>div {width:30.6%}
.atk-layout.fluid.c4>div {width:22%}
.atk-layout:after {content:".";display:block;height:0;clear:both;visibility:hidden;font-size:0;}
.atk-layout {.zoom:1;.display:block;}


/* ------------ Sticky footer */

html {height:100%;}
body {min-height:100%;height:100%;}
div#layout {height:auto !important;height:100%;min-height:100%;}
div#footer-guard {height:4em;clear:both;}
#footer {height:3em;margin-top:-3em;}


/* ------------ Elements */

/* Paginator */

.atk-paginator {padding:0.5em 0;margin:0.7em 0;border-top:1px solid #ccc;text-align:center;}
.atk-paginator>a {padding:0 0.3em;}
.atk-paginator>a.ui-state-active {text-decoration:none;}
.atk-paginator-next {float:right;}
.atk-paginator-previous {float:left;}

/* Grid */

.atk-grid>table {width:100%;border-spacing:0px;}
.atk-grid>table>thead>tr>th, .atk-grid>table>tbody>tr>td {padding:0.3em 0.6em;vertical-align:top;}
.atk-grid>table>thead>tr>th {font-weight:bold;}
html>/**/body .atk-grid>table>thead>tr>th {background:none;}
.atk-grid>table>tbody>tr>td {border-top:1px solid #eee;}
.atk-grid>table>tbody>tr:first-child>td {border-top:none;}
.atk-grid>.atk-paginator {margin-top:0;}
.atk-grid-notfound {width:14em;margin:1em auto;text-align:center;padding:0.3em 0.3em 0.3em 0.5em;white-space:nowrap;}
.atk-grid-notfound .ui-icon {margin-right:0.2em;}
.atk-grid>table>tbody>tr.atk-grid-totals>td {font-weight:bold;border-color:#000;}

.lister_expander_parent>td {background:#f5f5f5;border-top:1px solid #aaa !important;border-bottom:1px solid #ddd;}
.lister_expander_parent>td:first-child {border-left:1px solid #aaa;}
.lister_expander_parent>td:last-child {border-right:1px solid #aaa;}
.lister_expander {padding:0 !important;}
td.lister_expander {background:#f5f5f5;border:1px solid #bbb;padding:0 !important;}
td.lister_expander>div {border-top:1px solid #fff;padding:2em;}
td.lister_expander>div .atk-form, td.lister_expander>div .atk-form-buttons {margin-bottom:0;display:block;}


/* Lister */

.atk-lister.ui-widget-content {padding:0.2em;}
.atk-lister.ui-widget-content>ul {margin:0;padding:0;list-style-type:none;}
.atk-lister.ui-widget-content>ul>li {border-bottom:1px solid #eee;}
.atk-lister.ui-widget-content>ul>li:last-child {border-bottom:none;}
.atk-lister.ui-widget-content>.ui-widget-header {margin-bottom:0.2em;}
.atk-lister.ui-widget-content>.ui-widget-header,
.atk-lister.ui-widget-content>ul>li {padding:0.4em 0.8em;}
.atk-lister-row.odd {background:#f5f5f5;}


/* ------------ Menu */

.atk-menu {overflow:hidden;}
.atk-menu ul, .atk-menu ul li {margin:0;padding:0;list-style-type:none;}
.atk-menu-vertical ul li a, .atk-menu-horizontal ul li a {padding:0.4em 0.8em;display:block;}

/* Menu Horizontal */

.atk-menu-horizontal ul li {float:left;border-width:1px 0px 1px 1px;}
.atk-menu-horizontal ul li:last-child {border-width:1px;border-right-width:1px !important;}
.atk-menu-horizontal ul li.ui-state-active {border-width:1px;}
.atk-menu-horizontal ul li.ui-state-active+li {border-width:1px 0px 1px 0;}

/* Menu Vertical */

.atk-menu-vertical ul li {border-width:1px 1px 0px 1px;}
.atk-menu-vertical ul li:last-child {border-width:1px;border-bottom-width:1px !important;}
.atk-menu-vertical ul li.ui-state-active {border-width:1px;}
.atk-menu-vertical ul li.ui-state-active+li {border-width:0px 1px;}


/* ------------ Forms */

.atk-form>form>fieldset>dl, .atk-form>form>fieldset>dl>dt, .atk-form>form>fieldset>dl>dd {margin:0;padding:0;}
.atk-form-buttons, .atk-form>form>fieldset {margin-top:1em;padding-top:1em;border-top:1px solid #eee;}
.atk-form>form>fieldset:first-child {margin-top:0;padding-top:0;border-top:none;}
.atk-form>form>fieldset>dl {margin-top:1em;}
.atk-form>form>fieldset>dl:first-child {margin-top:0;}
.atk-form>form>fieldset .ui-state-error {padding:0.3em 0.6em 0.3em 0.4em; font-size:90%;}
.atk-form>form>fieldset .ui-state-error .ui-icon {margin:0 0.3em 0 0;float:left;}
.atk-form dt label {line-height:1.3;position:relative;z-index:2;}
.atk-form dt label span {color:#ce0000;position:absolute;right:-0.7em;top:0;margin-right:0;}
.atk-form ins {color:#999; font-size:90%;text-decoration:none;}
.atk-form>form>fieldset>dl>dd.atk-field>div input[type=checkbox],
.atk-form>form>fieldset>dl>dd.atk-field>div input[type=radio] {margin-right:0.4em;}
.atk-form-buttons button {margin-right:0.5em;}

/* Common form settings */

.atk-form-simple>form>fieldset>dl>dd.atk-error>div>.ui-icon, .atk-form-vertical>form>fieldset>dl>dd.atk-error>div>.ui-icon {background-position:-160px -192px;}

/* Form Simple */

.atk-form-simple>form>fieldset>dl {display:block;width:100%;.zoom:1;}
.atk-form-simple>form>fieldset>dl:after {content:".";display:block;height:0;clear:both;visibility:hidden;}
.atk-form-simple>form>fieldset>dl>dt {float:left;}
.atk-form-simple>form>fieldset>dl>dt {width:10em;min-width:10em;margin-right:2em;text-align:right;}
.atk-form-simple>form>fieldset>dl>dd {margin-left:12em;}
.atk-form-simple .atk-form-buttons {padding-left:12em;}
.atk-form-simple>form>fieldset>dl>dd.atk-field {margin-bottom:0.2em;}
.atk-form-simple>form>fieldset>dl>dd.atk-field>ins {margin-top:0.3em;display:block;}
.atk-form-simple>form>fieldset>dl>dd.atk-error {margin-top:0.5em;}
.atk-form-simple>form>fieldset>dl>dd.atk-error>div {float:left;}

/* Form Vertical */

.atk-form-simple>form>fieldset>dl>dd.atk-field>ins {margin-top:0.3em;display:block;}
.atk-form-simple>form>fieldset>dl>dd.atk-error {margin-top:0.5em;}
.atk-form-simple>form>fieldset>dl>dd.atk-error>div {float:left;}
.atk-form-simple>form>fieldset>dl>dd.atk-error>div>.ui-icon {background-position:-160px -192px;}
