/* Header */

div#header {
	padding: 2em 0;
	margin-bottom: 1em;
}

#header-right {
	float: right;
}

#header-right .atk-menu {
	float: right;
}

#header-right #atk-version {
	clear: both;
	float: right;
	margin-top:1em;
}

#navigation ul {
	overflow: hidden;
}

#navigation ul li {
	float: left;
	padding: 0.5em 1em;
}

.wrapper {
	width: auto;
	padding: 0 2em;
	min-width: 1000px;
	margin: 0;
	.overflow: hidden;
}

#footer {
	text-align: center;
}

/* ferre - sort this out */
.atk-loader {display:inline-block;background:#eee;border:1px solid #ccc;padding:.3em .6em;border-radius:10px;-moz-border-radius:10px;-webkit-border-radius:10px;text-transform:uppercase;text-shadow:0 1px 0 #fff;font-size:80%;}
.atk-loader>i {background:url(../images/loader.gif);width:16px;height:16px;float:left;position:relative;top:-0.2em;margin-right:0.5em;}

.tree,.tree ul,.tree li {list-style:none;margin:0;padding:0;zoom:1;}
.tree ul {margin-left:2em;}
.tree li a {color:#555;padding:.1em 7px .1em 27px;display:block;text-decoration:none;border:2px dashed #fff;background:url(../images/icon-file.gif) 5px 50% no-repeat;}
.tree li a.tree-parent {background:url(../images/icon-folder-open.gif) 5px 50% no-repeat;}
.tree li a.tree-parent-collapsed {background:url(../images/icon-folder.gif) 5px 50% no-repeat;}
.tree li a:hover,.tree li a.tree-parent:hover,.tree li a:focus,.tree li a.tree-parent:focus,.tree li a.tree-item-active {color:#000;border:2px solid#ebeded;background-color:#fafafa;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;}
.tree li a:focus,.tree li a.tree-parent:focus,.tree li a.tree-item-active {border:2px solid #5F5964;;background-color:#f2fafd;}
.tree ul.tree-group-collapsed {display:none;}

table.zebra {margin:4px 0;border:1px solid #cfd9e5;}
table.zebra:first-child, h1+table.zebra, h2+table.zebra, h3+table.zebra, h4+table.zebra {margin-top:0;}
table.zebra thead tr th {font-weight:bold;}
table.zebra thead tr th, table tr.even td {background:#edf4fc;}
table.zebra th, table.zebra td {padding:0.5em 0.5em;}

