/* Header */

div#header {
	padding: 2em 0;
	margin-bottom: 1em;
}

#header-right {
	float: right;
}

#header-right .atk-menu {
	float: right;
}

#header-right #atk-version {
	clear: both;
	float: right;
}

#navigation ul {
	overflow: hidden;
}

#navigation ul li {
	float: left;
	padding: 0.5em 1em;
}

.wrapper {
	width: auto;
	padding: 0 2em;
	min-width: 1000px;
}

#footer {
	text-align: center;
}