/* Common */

body {
	background: url(../images/bg.jpg);
	color: #333;
}

.clear {
	clear: both;
	font-size: 0;
	line-height: 0;
}

.float_left {
	float: left !important;
}

.float_right {
	float: right !important;
}

/* Styles */

a:link, a:visited {
	color: #0071a5;
}

.icon {
	position: relative;
	padding-left: 22px;
}

.icon i {
	left: 0;
	top: -0.2em;
	width: 16px;
	height: 16px;
	position: absolute;
	background-image: url(../images/icons_colored.png);
	background-position: 0 0;
}

.icon.icon_requests i { background-position: 0px 0px; }
.icon.icon_provider i { background-position: 0px -16px; }
.icon.icon_groups i { background-position: 0px -32px; }

/* Forms */

.ui-form .form_row {
	margin-bottom: 1em;
}

.ui-form .form_row label {
	float: left;
	margin-top: 0.2em;
	margin-right: -100%;
	width: 10em;
	text-align: right;
	color: #777;
}

.ui-form .form_row .form_field {
	padding-left: 11em;
}

/* Typography */

body {
	font-size: 10pt;
	font-family: Arial, serif;
}

p {
	margin-bottom: 1em;
	line-height: 1.4;
}

h2, h3 {
	margin: 1.2em 0 0.5em 0;
}

h1, h2, h3, h4, h5 {
	line-height: 1.3;
}

h1 {
	margin: 0em 0 0.7em 0;
	padding: 0 0 0.2em 0em;
	font-size: 210%;
	border-bottom: 1px dotted #005d75;
	color: #005d75;
}

h2 {
	font-size: 180%;
}

h3 {
	font-size: 160%;
}

h4 {
	font-size: 140%;
	margin: 0 0 0.5em 0;
	color: #005469;
}

h5 {
	font-size: 120%;
	margin-bottom: 0.5em;
}

ul {
	margin: 1em 0 2em 0;
	list-style-type: disc;
}

ul li {
	margin: 0 0 0.5em 1em;
}

ul ul {
	margin: 0.5em 0 1em 0.5em;
}