<<?element?>ul<?/?> class="<?$class?>" id="<?$_name?>">
<?rows?>
    <?row?>
        <<?row_element?>li<?/?> class="<?$odd_even?>"><?$name?></<?row_element?>li<?/?>>
    <?/row?>
    <?totals?>
        <<?row_element?>li<?/?> class="<?$odd_even?> totals">Total: <?$row_count?> row<?$plural_s?></<?row_element?>li<?/?>>
    <?/totals?>
    <?grand_totals?>
        <<?row_element?>li<?/?> class="<?$odd_even?> grand-totals">Grand Total: <?$row_count?> row<?$plural_s?></<?row_element?>li<?/?>>
    <?/grand_totals?>
<?/rows?>
<?$Content?>
</<?element?>ul<?/?>>
