
<ul id="{$_name}" style="{$style}" class="atk-menu atk-menu-horizontal {$class}">
  {Content}
  {Title}
  <li id="{$_name}" class="atk-padding-small atk-size-kilo {$class}">{$Content}</li>{/Title}
  {Item}
  <li id="{$_name}" class="{$li_class}">
    <a class="{padding}atk-padding-small{/} {$class}" id="{$_name}" href="{url}javascript:void(0){/}" {$attributes}>
    {$icon}&nbsp;<strong>{$Content}</strong><span class="atk-cell">{$Badge}</span></a>
  </li>{/Item}
  {Menu}
  <li id="{$_name}" class="{$li_class}"><a href="#" class="atk-padding {$class}">{$icon}&nbsp;<strong>{$Content}</strong>&nbsp;<span class="icon-down-dir"></span></a>{$SubMenu}</li>{/Menu}
  {Separator}
  <li id="{$_name}" class="{$class}">/</li>{/Separator}
  {/}
</ul>