
<ul id="{$_name}" style="{$style}" class="atk-menu atk-menu-vertical {$class}">
  {Content}
  {Title}
  <li id="{$_name}" class="atk-padding-small atk-size-kilo {$class}">{$Content}</li>{/Title}
  {Item}
  <li class="{$li_class}"><a class="atk-padding-small atk-cells {$class}" id="{$_name}" href="{url}javascript:void(0){/}" {$attributes}><span class="atk-cell atk-jackscrew">{$icon}&nbsp;<strong>{$Content}</strong></span><span class="atk-cell">{$Badge}</span></a></li>{/Item}
  {Menu}
  <li id="{$_name}" class="{$li_class}"><a href="javascript:void(0)" class="atk-padding-small atk-cells {$class}"><span class="atk-cell atk-jackscrew">{$icon}&nbsp;<strong>{$Content}</strong></span><span class="atk-cell"><span class="icon-right-dir"></span></span></a>{$SubMenu}</li>{/Menu}
  {Separator}
  <hr id="{$_name}" class="{$class}"></hr>{/Separator}
  {/}
</ul>
