div(id="{$_name}" class="{$class}").atk-menu-vertical
    {Content}
    {rows}
    {row}
    a(id="{$id}" class="{$class}" href="{$href}").atk-padding-small {$label}
    {/}
    {separator}
    span.atk-padding-small
        h4 {$label}
    {/}
    {/Content}

