div(id="{$_name}" class="{$class}").atk-menu-vertical
    {Content}
    {rows}
    {row}
    <a id="{$id}" class="{$class}" href="{$href}" {$attributes} class="atk-padding-small atk-cells">
    span.atk-cell.atk-jackscrew
        {$icon}{$nbsp}
        strong {$Content}
    span.atk-cell
        {$badge}
    </a>
    {/}
    {separator}
    span.atk-padding-small
        h4 {$label}
    {/}
    {/Content}

