<?form?>
<div id="<?$_name?>" class="atk-form <?$class?> wider-labels atk-box atk-block demo-bg">
  <?$hint?>
  <form class="<?$form_internal_class?>" id="<?$form_name?>" name="<?$form_name?>" action="<?$form_action?>" method="POST" <?$enctype?>>
    <fieldset class="<?$fieldset?>">
      <?Content?>
      <?form_line?>
      <div class="atk-form-row atk-form-row-<?$field_type?>">
        <label for="<?$field_name?>" <?field_mandatory?>class="mandatory"<?/?>><?$field_caption?></label>
        <div class="atk-form-field"><?$before_field?><?field_input?><input/><?/?><?$after_field?></div>
        <?$field_hint?>
        <?field_error?>
        <div class="atk-form-error">
        <span class="field-error-text"><?$field_error_str?></span>
        </div>
        <?/?>
      </div>
      <?/form_line?>

      <?form_separator?>
    </fieldset>
    <fieldset class="<?$fieldset?>">
      <?separator?><?$separator_text?><?/?><?/form_separator?>
      <?form_comment?><?$comment?><?/?>
      <?/Content?>
      <div style="display: none" class="field-error-template atk-form-error">
        <span class="field-error-text"><?$field_error_str?></span>
      </div>
    </fieldset>
    <div class="atk-buttons">
      <?$form_buttons?>
    </div>
  </form>
</div>
<?/form?>
