<?form?>
<div id="<?$_name?>" class="atk-form atk-form-<?form_class?>horizontal<?/?> <?$form_class_layout?>">
	<?$hint?>
	<form class="<?$form_internal_class?>" id="<?$form_name?>" name="<?$form_name?>" action="<?$form_action?>" method="POST" <?$enctype?>>
		<fieldset>
			<?Content?>
				<?form_line?>
				<dl class="atk-field atk-field-<?$field_type?> <?$field_container_class?>">
					<dt><label for="<?$field_name?>" <?field_mandatory?>class="mandatory"<?/?>><?$field_caption?></label></dt>
					<dd class="form_field"><?$before_field?><?field_input?><input/><?/?><?$after_field?><?$field_hint?></dd>
					<?field_error?>
					<dd class="field-error-template atk-form-error">
						<i class="ui-icon ui-icon-alert"></i><span class="field-error-text"><?$field_error_str?></span>
					</dd>
					<?/?>
				</dl>
				<?/form_line?>

				<?form_separator?>
				</fieldset>
				<fieldset>
					<?separator?><?$separator_text?><?/?><?/form_separator?>
					<?form_comment?><?$comment?><?/?>




			<?/Content?>

			<dd style="display:none" class="field-error-template atk-form-error">
				<i class="ui-icon ui-icon-alert"></i><span class="field-error-text">Sample Error</span>
			</dd>
		</fieldset>
        <!--
		<dl class="atk-button-holder">
			<dd class="atk-field">
			<?form_buttons?>
				<input type="button" value="Save" class="no" />
			<?/form_buttons?>
			</dd>
		</dl>
        -->


	</form>
</div>
<?/form?>
