#tooltip{
background:#FFFFFF;
border:1px solid #666666;
color:#333333;
font:menu;
margin:0px;
padding:3px 5px;
position:absolute;
visibility:hidden
}:absolute;
visibility:hidden
}en
}:absolute;
visibility:hidden
}