             <?form?>
                        <form action="javascript:submit_<?$form_id?>()" name="<?$form_name?>" id="<?$form_id?>" method=post>
					<script language="JavaScript">
					<!--
						function submit_<?$form_id?>(button) {
							// start the dial first
							im=aagi('loading_<?$form_id?>');
							im.src='amodules3/img/loading.gif';

							succ = function(response_text, response_xml){
								success_<?$form_id?>(response_text);
							}
							aasf ('<?$form_id?>','<?$form_action?>&submited=<?$form_id?>',succ);
						}
						function dump_<?$form_id?>(button) {
							// start the dial first
							im=aagi('loading_<?$form_id?>');
							im.src='amodules3/img/loading.gif';

							succ = function(response_text, response_xml){
								alert(response_text);
								success_<?$form_id?>();
							}
							url='<?$form_action?>';
							alert(url);
							aasf ('<?$form_id?>',url,succ);
						}
						function success_<?$form_id?>(js) {
							// stop dialing and execute optional js code
							// (redirect for example)
							im=aagi('loading_<?$form_id?>');
							im.src='amodules3/img/not_loading.gif';
                            if(js.charAt(0) == '<'){
                                // HTML code returned :(
                                w = window.open('',null,'width=800,height=500');
                                w.document.write(js);
                            }else{
                                if(js)eval(js);
                            }
						}
						function reload_field_<?$form_id?>(field_name) {
							im=aagi('loading_<?$form_id?>');
							im.src='amodules3/img/loading.gif';

							succ = function(response_text, response_xml){
								aafc("td_"+field_name,response_text);
								im=aagi('loading_<?$form_id?>');
								im.src='amodules3/img/not_loading.gif';
							}
							aarq ('<?$form_action?>&reload_field_<?$form_id?>='+field_name,succ);
						}

						function reload_campaign_field_add_<?$form_id?>(field_name) {
							im=aagi('loading_<?$form_id?>');
							im.src='amodules3/img/loading.gif';

							succ = function(response_text, response_xml){
								aafc("td_"+field_name,response_text);
								im=aagi('loading_<?$form_id?>');
								im.src='amodules3/img/not_loading.gif';
							}
							ptr=aagi(field_name + "_new");
							aarq ('<?$form_action?>&reload_field_<?$form_id?>='+field_name+'&val='+ptr.value,succ);
						}
						function reload_campaign_field_drop_<?$form_id?>(field_name) {
							im=aagi('loading_<?$form_id?>');
							im.src='amodules3/img/loading.gif';

							succ = function(response_text, response_xml){
								aafc("td_"+field_name,response_text);
								im=aagi('loading_<?$form_id?>');
								im.src='amodules3/img/not_loading.gif';
							}
							ptr=aagi(field_name);
							aarq ('<?$form_action?>&reload_field_<?$form_id?>='+field_name+'&drop='+ptr.options[ptr.selectedIndex].value,succ);
						}

					//-->
					</script>
                        <table width="100%"  border="0" cellspacing="1" cellpadding="2">
                        <?form_body?>
                        <?form_line?>
						  <tr>
							<td width="46%" class="smalltext"><?field_caption?>Email:<?/?></td>
							<td width="54%"><?field_input?><input type="text" name="loginemail" class="logintext" value=""><?/?>
                            <?field_error?><br><font color=red>^ <?field_error_str?>Error<?/?></font><?/?>
                            </td>
						  </tr>
                          <?/form_line?>
                          <?hidden_form_line?>
                              <?hidden_field_input?> <?/?>
                          <?/hidden_form_line?>
						  <tr>
							<td class="smalltext">Ticket Key:</td>
							<td><input type="password" name="loginpassword" class="loginpassword" value=""></td>
							</tr>
						  <tr>
							<td class="smalltext">Remember Me:</td>
							<td><input type="checkbox" name="rememberme" value="1"></td>
						  </tr>
                          <?/form_body?>
						  <tr>
                          <td colspan=2><table width=100% cellspacing=0 cellpadding=0 border=0><tr>
                  <td class="left">
					  <img id="loading_<?$form_id?>" src="amodules3/img/not_loading.gif" border=0>
				</td><td align=center style="text-align: center;">
					  <b id="msg_<?$form_id?>"></b>
                  </td>
							<td align="right">
                        <?form_buttons?>
                            <input type="submit" name="Submit2" value="Login" class="yellowbutton">                          
                        <?/form_buttons?>
                            </td></tr></table></td>
						  </tr>
						</table>
                        </form>
                    <?/form?>
