             <?form?>
			<form id="<?$form_name?>" name="<?$form_name?>" action="<?$form_action?>" onsubmit="<?form_onsubmit?>spinner_on('<?$form_name?>_loading')<?/?>" method="POST" <?$enctype?>>
                        <table width="100%"  border="0" cellspacing="1" cellpadding="2">
                        <?form_body?>
                        <?form_line?>
						  <tr>
							<td width="46%" class="smalltext" nowrap><?field_caption?>Email:<?/?></td>
							<td width="54%"><?field_input?><input type="text" name="loginemail" class="logintext" value=""><?/?>
                            <?field_error?><br><font color=red>^ <?field_error_str?>Error<?/?></font><?/?>
                            </td>
						  </tr>
                          <?/form_line?>
                          <?hidden_form_line?>
                              <?hidden_field_input?> <?/?>
                          <?/hidden_form_line?>
						  <tr>
							<td class="smalltext">Ticket Key:</td>
							<td><input type="password" name="loginpassword" class="loginpassword" value=""></td>
							</tr>
						  <tr>
							<td class="smalltext">Remember Me:</td>
							<td><input type="checkbox" name="rememberme" value="1"></td>
						  </tr>
                          <?/form_body?>
						  <tr>
                          <td colspan=2><table width=100% cellspacing=0 cellpadding=0 border=0><tr>
                  <td class="left">&nbsp;
                  <img id="<?$form_name?>_loading" src="amodules3/img/not_loading.gif" border=0>
                  <!-- chk_preload -->
                  <div style="display:none;"><img src="amodules3/img/loading.gif" /></div>
                  <!-- -------------->
				</td><td align=center style="text-align: center;">
					  <b id="msg_<?$form_id?>"></b>
                  </td>
							<td align="right" style="text-align: right;">
                        <?form_buttons?>
                            <input type="submit" name="Submit2" value="Login" class="yellowbutton">                          
                        <?/form_buttons?>
                            </td></tr></table></td>
						  </tr>
						</table>
                        </form>
                        <?/form?>
