.atk-layout
    .atk-layout-row.atk-layout-fluid
        .atk-layout.atk-layout-cell
          .atk-layout-column.atk-layout-fluid.atk-valign-middle
            .atk-wrapper
                .span_6.atk-move-center(style="width: 20em")
                    {$Content}

