.atk-layout.atk-swatch-gray
  .atk-layout-row.atk-layout-fluid
    .atk-layout.atk-layout-cell
      .atk-layout-column.atk-layout-fluid.atk-valign-middle
          .atk-wrapper
              .atk-box.atk-swatch-white {$Content}
