.atk-layout
    .atk-layout-row.atk-layout-expand
        #atk-layout-content.atk-layout.atk-layout-cell
          .atk-layout-column.atk-layout-expand.atk-valign-middle
            .atk-wrapper
                .atk-box-large.atk-move-center.atk-swatch-gray
                    {$Content}

