.atk-layout
  .atk-layout-row
    {Header}
    .atk-layout-cell(class="{$class}")
        .atk-wrapper.atk-padding-small
            {$Header_Content}
    {/Header}
  .atk-layout-row.atk-layout-fluid
    .atk-layout.atk-layout-cell
      {$LeftSidebar}
      .atk-layout-column.atk-swatch-ink
        {$Main_Menu}
      .atk-layout-column.fluid.atk-padding
        h2 {page_title}Page Title{/}
        {$Content}
      {$RightSideBar}

  .atk-layout-row
    {Footer}
    .atk-layout-cell(class="{$class}")
        .atk-wrapper.atk-padding-small
            {$Footer_Content}
    {/}
