
<div class="atk-layout">
  <div class="atk-layout-row">
    <!-- Toolbar-->
    <header class="atk-size-kilo atk-swatch-blue atk-cells">
      <div class="atk-cell">
        <ul class="atk-menu atk-menu-horizontal">
          <li class="atk-size-mega"><a>My Gallery Project</a></li>
          <li><a><i class="icon-clock"></i>145ms</a></li>
          <li><a> <i class="icon-alert"></i>3</a></li>
          <li><a> 
              <div class="atk-label atk-swatch-green"><i class="icon-upload-cloud-1"></i>Upload</div></a></li>
        </ul>
      </div>
      <div class="atk-cell atk-move-right">
        <div class="atk-media-block">
          <div class="atk-media atk-valign-middle">
            <div src="temp/apples.jpg" width="32" class="img atk-shape-circle"></div>
          </div>
          <div class="atk-content atk-valign-middle">John Smith<span class="icon-down-dir"></span></div>
        </div>
      </div>
      <div class="atk-cell atk-move-right">
        <ul class="atk-menu atk-menu-horizontal">
          <li><a><i class="icon-bag"></i>Market</a></li>
        </ul>
      </div>
    </header>
  </div>
  <div id="atk-main" class="atk-layout-row fluid">
    <div id="atk-main-inner" class="atk-layout">{$LeftSidebar}
      <nav id="atk-nav" class="atk-layout-column span_2">{$Main_Menu}</nav>
      <div id="atk-content" class="atk-layout-column fluid">
        <section>
          <h2>{page_title}Page Title{/}</h2>{$Content}
        </section>
      </div>{$RightSideBar}
    </div>
  </div>
  <div class="atk-layout-row">{Footer}
    <footer id="atk-Footer">{$Footer_Content}</footer>{/}
  </div>
</div>
