.atk-layout
  .atk-layout-row
    {Header}
    .atk-layout-cell(class="{$class}")
        atk-padding-small.atk-swatch-ink
            {Header_Content}use layout->addHeader() to menu, toolbar or header here{/}
    {/Header}
  .atk-layout-row.atk-layout-fluid
    .atk-layout.atk-layout-cell
      {$LeftSidebar}
      .atk-layout-column.atk-swatch-ink
        {$Main_Menu}
      .atk-layout-column.fluid.atk-padding.atk-jackscrew
        h2 {page_title}Page Title{/}
        {$Content}
      {$RightSideBar}

  .atk-layout-row
    {Footer}
    .atk-layout-cell(class="{$class}")
        .atk-padding-small.atk-swatch-ink
            {$Footer_Content}
    {/}
