.atk-layout
    .atk-layout-row
        {Header}
        header#atk-header(class="{$class}")
            {$Header_Content}
        {/}


    #atk-main.atk-layout-row.fluid
        #atk-main-inner.atk-layout
            {$LeftSidebar}
            #atk-content.atk-layout-column.fluid
                {$Content}
            {$RightSideBar}

    .atk-layout-row
        {Footer}
        footer#atk-Footer
            {$Footer_Content}
        {/}
