.atk-layout
    {$Header}
    #atk-main.atk-layout-row.fluid
        #atk-main-inner.atk-layout
            {$LeftSidebar}
            #atk-content.atk-layout-column.fluid
                {$Content}
            {$RightBar}
    {$Footer}
