
<div class="atk-layout">
  <div class="atk-layout-row">
    {Toolbar}
    {/Toolbar}
  </div>
  <div class="atk-layout-row fluid">
    <div class="atk-layout">{$LeftSidebar}
      <nav class="atk-layout-column span_2 atk-swatch-gray">{$Main_Menu}</nav>
      <div class="atk-layout-column fluid atk-padding">
        <h2>{page_title}Page Title{/}</h2>{$Content}
      </div>{$RightSideBar}
    </div>
  </div>
  <div class="atk-layout-row">{Footer}
    <footer id="atk-Footer">{$Footer_Content}</footer>{/}
  </div>
</div>