.atk-layout
  .atk-layout-row
    {Toolbar}
    {/Toolbar}
  .atk-layout-row.fluid
    .atk-layout
      {$LeftSidebar}
      nav.atk-layout-column.span_2.atk-swatch-gray.atk-padding
        {$Main_Menu}
      .atk-layout-column.fluid.atk-padding
        h2 {page_title}Page Title{/}
        {$Content}
      {$RightSideBar}

  .atk-layout-row
    {Footer}
    footer#atk-Footer
      {$Footer_Content}
    {/}
